.header{
    width: 100%;
    
}
.img{
    width: 100%;
   
    position: relative;
}
.footer{
    width: 100%;
    
}
.img .biohazard{
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 10;
}
.img .Man-and-woman{
    position: absolute;
    left: 300px;
    top: 67px;
    z-index: 10;
}
.img .Yin_and_Yang{
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 10;
}
.img .No_smoking{
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 11;
}

