* {
    margin: 0; 
    padding: 0; 
}
.header{
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.footer{
    clear: both;
}
.wrap div label{
    width: 9%;
    float: left;
    padding-left: 20px;
}
.wrap div form{
    margin-left: 10%;
    padding-right: 20px;
}
input[type="text"]{
    width:99%;
}
div{
    margin-top: 5px;
}
textarea{
    width: 99%;
}
.footer form{
    width: 98%;
    margin-left: 20px;
}

@media screen and (min-width: 800px) and (max-width: 1360px) {
    .wrap div label{
        width: 100%;
        padding-left: 20px;
    }
    .wrap div form{
        margin-left: 20px;
        padding-right: 20px;
    }
} 
@media screen and (min-width: 360px) and (max-width: 799px) {
    .wrap div label{
        width: 100%;
        padding-left: 20px;
    }
    .com {
        float: left;
    }
    .chek{
        float: left;
    }
    .wrap div form{
        margin-left: 20px;
        margin-right: 20px;
    }
    textarea{
        width: 90%;
    }
    form input [type="radio"]{
        width: 20%;
    }
} 

