.header{
    background-color: aqua;
}
.img{
    width: 400px;
    height: 425px;
    background-color: aliceblue;
    position: relative;
    margin: auto;
}
.biohazard{
    position: absolute;
    top: 23px;
    z-index: 10;
}
.Man-and-woman{
    position: absolute;
    left: 200px;
    z-index: 10;
}
.Yin_and_Yang{
    position: absolute;
    left: 100px;
    top: 230px;
    z-index: 10;
}
.No_smoking{
    position: absolute;
    left: 75px;
    top: 100px;
    z-index: 11;
}
.footer{
    clear: both;
    background-color: aquamarine;
}
.biohazard:hover,
.Man-and-woman:hover,
.Yin_and_Yang:hover{
    z-index: 100;
}

