.rating{
  float: left;
}
.rating div{
  float: right;
}
.rating > div {
  display: inline-block;
  position: relative;
  width: 75px;
	cursor: pointer;
}

.rating > div:hover:before,
.rating > div:hover ~ div:before
 {
  content: url(img/star1.png);
  position:fixed;
	cursor: pointer;
} 