*{
   margin: 0px;
   padding: 0px;
}

/*header*/

.header{
   height: 160px;
   width: 1920px;
   position: relative;
   /*margin-left: 8px;
   margin-right: 8px;*/
   background: #FFFFFF;
   box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
   background: 
      url(img/vector_top.png) no-repeat right top,
      url(img/image\ 25.png) no-repeat 122px 22px;

}

/*меню. начало*/

ul{
   list-style: none;
}
.topmenu a{
   text-decoration: none;
   display: block;
   transition: .4s ease-in-out;
}
.topmenu>li>a{
   padding-top: 61px;
   color: #000000;
   line-height: 29px;
}
.topmenu li{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
}
.topmenu_blog,
.topmenu_contacts{
   padding-left: 100px;
}
.submenu li{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 29px;
}

.topmenu li a:hover {
   color: #c0a97a;
}
 
.submenu li a{
   border-bottom: 1px solid #efefef;
   font-family: 'Gilroy';
   font-size: 16px;
   color: #484848;
}

/*меню. конец*/

/* Строка поиска. Начало*/
/* .header .form_search{
   position: absolute;
   float: left;
   width: 1240px;
   height: 59px;
   margin-left: 402px;
   margin-top: 46px;
   background: #FFFFFF;
   box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
   border-radius: 30px; 
}*/
/*строка поиска. начало*/

/* form {
   position: relative;
   width: 1240px;
   height: 59px;
   margin: 0 auto;
}
input {
   height: 59px;
   width: 0;
   padding: 0 60px 0 15px;
   border: none;
   border-bottom: 2px solid transparent;
   outline: none;
   background: transparent;
   transition: .4s cubic-bezier(0, 0.8, 0, 1);
   position: absolute;
   top: 0px;
   right: 0px;
   z-index: 2; */

   /* background: #FFFFFF;
   box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
   border-radius: 30px;  
}*/
/* input:focus {
   width: 1240px;
   z-index: 1;
   border-bottom: 2px solid #F9F0DA;
}
button {
   background: #F9B300;
   border: none;
   height: 60px;
   width: 42px;
   position: absolute;
   top: 0px;
   right: 0px;
   cursor: pointer;
}
 button:before {
   font-family: FontAwesome;
   font-size: 16px;
   color: #F9F0DA;
} */

/* Строка поиска. конец*/

/* Строка поиска_мои наброски
.header .form_search{
    position: absolute;
    float: left;
    width: 1240px;
    height: 59px;
    margin-left: 402px;
    margin-top: 46px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    border-radius: 30px;
}
input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    margin-top: 16px;
    margin-right: 10px;
    margin-left: 82px;
}
*/

/*banner*/

.banner{
   width: 1920px;
   height: 854px;
   background: #E5E5E5;
   background:
      url(img/kisspng-coffee-espresso-cappuccino-cafe-breakfast-coffee-5abb12d39e9a33\ 1.png),
      url(img/kisspng-cafe-chocolate-covered-coffee-bean-espresso-5aeee25cddd876\ 1.png),
      url(img/vector_midl.png);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: 900px 100px, 800px 40px, top right;
   transform: rotate(0deg), rotate(157.31deg), rotate(0deg);
}
.banner h2{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 80px;
   line-height: 100px;
   padding: 120px 0px 0px 120px;
}
.banner p{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   padding: 60px 0px 0px 120px;
}
.banner a p{
   width: 400px;
   height: 80px;
   background: #F9B300;
   border-radius: 5px;
   margin: 90px 0px 0px 120px;
}
.banner a{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}

/*catalog*/

.catalog{
   position: relative;
   width: 1920px;
   height: 2040px;
   background: #E5E5E5;
   background: 
      url(img/vector_bottom.png) no-repeat right top,
      url(img/Vector_top_for_image10.png) no-repeat left bottom,
      url(img/vector_left.png) no-repeat left;

   }
.catalog h2{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   padding: 0px 0px 0px 120px;
}

.block_coffee a,
.block_tea a,
.block_vending a,
.block_food a{
   list-style: none;
   text-decoration: none;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   color: #000000;
   text-align: center;
   vertical-align: middle;
}
.catalog .block_coffee{
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 120px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}

.block_coffee>a>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 50px 35px 0px 35px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}
.catalog .block_coffee img{
   padding: 67px 50px 0px 0px;
}
.catalog .block_tea{
   position: relative;
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 20px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;

   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   vertical-align: middle;
   color: #000000;
   list-style: none;
   text-decoration: none;
}
.catalog .block_tea img{
   position: absolute;
   left: 82px;
   top: -40px;
}
.kettle_tea{
   width: 235px;
   height: 278px;
}
.block_tea>a>div>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 30px 35px 0px 35px;
   color: #FFFFFF;
}
.catalog .block_vending{
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 20px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}
.catalog .block_vending img{
   padding: 30px 0px 0px 60px;
}
.block_vending>a>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 50px 40px 0px 40px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}
.catalog .block_food{
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 20px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}
.catalog .block_food img{
   padding: 95px 0px 0px 55px;
}
.block_food>a>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 50px 35px 0px 35px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}
.coffee_left_fon{
   position: absolute;
   top: 500px;
   left: 0px;
}
.catalog .discount_text{
   float: right;
   margin-right: 122px;
   text-align: right;
   margin-top: 100px;
}
.catalog .discount_text p{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   text-align: right;
   color: #000000;
   padding-top: 60px;
   width: 100%;
}
.catalog .arrow_left{
   width: 70px;
   height: 70px;
   background: url(img/Ellipse\ 6.png) no-repeat left top;
   float: left;
   margin: 500px 0 0 300px;
   color: white;
   text-align: center;
   vertical-align: middle;
   font-size: 50px;
}
.catalog .discount_columbia{
   width: 400px;
   height: 652px;
   left: 402px;
   top: 2044px;
   background: #FFFFFF;
   box-shadow: 0px 0px 20px rgba(146, 146, 146, 0.25);
   border-radius: 20px;
   float: left;
}
.catalog .discount_columbia select{
   background: #FFF7E1;
   border: 1px solid #F9B300;
   border-radius: 5px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #000000;
}







 
@media(min-width: 600px) {
   .topmenu {
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .topmenu>li {
      position: relative;
   }
   .topmenu>li:after {
      position: absolute;
      right: 0;
      width: 1px;
      height: 12px;
      background: #d2d2d2;
      top: 24px;
      box-shadow: 4px -2px 0 #d2d2d2;
      transform: rotate(30deg);
   }
   .topmenu>li:last-child:after {
      background: none;
      box-shadow: none;
    }
   .submenu {
      position: absolute;
      left: 0%;
      top: 100%;
      width: 200px;
      margin-left: 0px;
      background: #fafafa;
      border: 1px solid #ededed;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      transform: scale(.8);
      transition: .4s ease-in-out;
   }
   .topmenu>li:hover .submenu {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
   }
   .submenu li a{
      text-align: center;
      padding: 10px 0;
      margin: 0 10px;
   }
 }