*{
   margin: 0px;
   padding: 0px;
}

/*header*/

.header{
   height: 160px;
   width: 1920px;
   position: relative;
   /*margin-left: 8px;
   margin-right: 8px;
   box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25); */
   background: #FFFFFF;
   background: 
      url(img/vector_top.png) no-repeat right top,
      url(img/image\ 25.png) no-repeat 122px 22px;
}
   /*меню. начало*/

.header .dropbtn {
   border: none;
   background: #FFFFFF;
   margin: 61px 0 0 670px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
}
.header .topmenu_catalog {
   position: relative;
   display: inline-block;
}
.header .dropdown-content {
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   display: none;
   position: absolute;
   left: 77%;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 29px;
}
.header .topmenu_catalog a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}
.header .topmenu_catalog:hover .dropdown-content {display: block;}
.header .topmenu_blog,
.header .topmenu_contacts{
   display: inline-block;
   margin: 61px 0 0 100px;
}
.header .topmenu_blog a,
.header .topmenu_contacts a{
   list-style: none;
   text-decoration: none;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   color: black;
}
   /*меню. end*/

   /*search start*/
   
.header .form_search{
   position: absolute;
   right: 15%;
   top: 0%;
   width: 1240px;
   height: 59px;
   margin: 46px 0 0 400px;
   background: #FFFFFF;
   box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
   border-radius: 30px;
}
.header input[type="text"]{
   width: 100%;
   box-sizing: border-box;
   border: none;
   margin: 15px 0px 0 0px; 
   padding: 0px 30px 0px 30px; 
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 130%;
   color: #C4C4C4;
}
.header label{
display: inline-block;
margin: 41px 0 0 350px;
}

   /* оба чекбокса скрыты всегда, работа с ними только через label */
.line_search{display: none}
 /* большой текст обычно скрыт */
 .line_search + label + div{display: none}
   /* и отображается только если выбран первый чекбокс */
.line_search:checked + label + div{display: block}
   /* первый label обычно отображается */
.line_search + label{
   text-decoration: underline;
   cursor: pointer;
}
   /* и скрывается если выбран первый чекбокс */
.line_search:checked + label{display: none}
   /* второй label обычно скрыт */
.line_search + label + div + input + label{
   display: none;
   text-decoration: underline;
   cursor: pointer;
}
   /* и отображается только если выбран первый чекбокс */
.line_search:checked + label + div + input + label{
   display: block;
   /* margin: 41px 0 0 100px; */
}

/* .line_search label:checked{
   display: inline-block;
   margin: 61px 0px 0px 1240px;
}  */
/*search end*/
.header .shopping_cart{
   position: absolute;
   top: 48px;
   right: 200px;
}
.header .btn_shopping_cart{
   border: none;
   background: #F9B300;
}

.header .authorization{
   position: absolute;
   top: 48px;
   right: 100px;
}
.header .btn_authorization{
   border: none;
   background: #F9B300;
}

/*banner*/

.banner{
   width: 1920px;
   height: 854px;
   background: #E5E5E5;
   background:
      url(img/kisspng-coffee-espresso-cappuccino-cafe-breakfast-coffee-5abb12d39e9a33\ 1.png),
      url(img/kisspng-cafe-chocolate-covered-coffee-bean-espresso-5aeee25cddd876\ 1.png),
      url(img/vector_midl.png);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: 900px 100px, 800px 40px, top right;
   transform: rotate(0deg), rotate(157.31deg), rotate(0deg);
}
.banner h2{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 80px;
   line-height: 100px;
   padding: 120px 0px 0px 120px;
}
.banner p{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   padding: 60px 0px 0px 120px;
}
.banner a p{
   width: 400px;
   height: 80px;
   background: #F9B300;
   border-radius: 5px;
   margin: 90px 0px 0px 120px;
}
.banner a{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}

/*catalog*/

.catalog{
   position: relative;
   width: 1920px;
   height: 2040px;
   background: #E5E5E5;
   background: 
      url(img/vector_bottom.png) no-repeat right top,
      url(img/Vector_catalog.png) no-repeat left bottom,
      url(img/vector_left.png) no-repeat left top;

   }
.catalog h2{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   padding: 0px 0px 0px 120px;
}

.block_coffee a,
.block_tea a,
.block_vending a,
.block_food a{
   list-style: none;
   text-decoration: none;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   color: #000000;
   text-align: center;
   vertical-align: middle;
}
.catalog .block_coffee{
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 120px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}

.block_coffee>a>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 50px 35px 0px 35px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}
.catalog .block_coffee img{
   padding: 67px 50px 0px 0px;
}
.catalog .block_tea{
   position: relative;
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 20px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;

   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   vertical-align: middle;
   color: #000000;
   list-style: none;
   text-decoration: none;
}
.catalog .block_tea img{
   position: absolute;
   left: 82px;
   top: -40px;
}
.kettle_tea{
   width: 235px;
   height: 278px;
}
.block_tea>a>div>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 30px 35px 0px 35px;
   color: #FFFFFF;
}
.catalog .block_vending{
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 20px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}
.catalog .block_vending img{
   padding: 30px 0px 0px 60px;
}
.block_vending>a>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 50px 40px 0px 40px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}
.catalog .block_food{
   float: left;
   width: 400px;
   height: 539px;
   margin: 100px 0px 0px 20px;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}
.catalog .block_food img{
   padding: 95px 0px 0px 55px;
}
.block_food>a>p:last-of-type{
   /*width: 330px;
   height: 60px;*/
   background: #F9B300;
   border-radius: 5px;
   margin: 50px 35px 0px 35px;
   color: #FFFFFF;
   list-style: none;
   text-decoration: none;
}
.coffee_left_fon{
   position: absolute;
   top: 500px;
   left: 0px;
}
.catalog .discount_text{
   float: right;
   margin: 100px 122px 0 0;
}
.catalog .discount_text h2{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   color: #000000;
   text-align: right;
}
.catalog .discount_text p{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   text-align: right;
   color: #000000;
   padding-top: 60px;
   width: 100%;
}
.catalog .arrow_left{
   width: 70px;
   height: 70px;
   background: url(img/Ellipse\ 6.png) no-repeat left top;
   float: left;
   margin: 600px 0 0 300px;
   color: white;
   text-align: center;
   vertical-align: middle;
   font-size: 50px;
}
.catalog .arrow_right{
   width: 70px;
   height: 70px;
   background: url(img/Ellipse\ 6.png) no-repeat left top;
   float: left;
   margin: 310px 0 0 70px;
   color: white;
   text-align: center;
   vertical-align: middle;
   font-size: 50px;
}
.catalog .discount_columbia{
   position: relative;
   float: left;
   margin: 80px 0 0 70px;
   width: 400px;
   height: 652px;
   background: #FFFFFF;
   box-shadow: 0px 0px 20px rgba(146, 146, 146, 0.25);
   border-radius: 20px;
}
.catalog .discount_columbia select{
   background: #FFF7E1;
   border: 1px solid #F9B300;
   border-radius: 5px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #000000;
}
.catalog .discount_columbia p{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #222222;
   padding: 20px 0 0 0; 
   height: 5px;
}
.catalog .discount_columbia .rating p strong{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #222222;
}
.catalog .discount_columbia h4{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 25px;
   line-height: 31px;
   color: #222222;
   text-align: left;
   padding-top: 20px;
}
.catalog .discount_columbia .img_colombia{
   float: left;
   padding: 94px 0 0 38px;
}
.catalog .discount_columbia form{
   margin-top: 21px;
   padding-left: 20px;
}
.catalog .discount_columbia form .rating{
   padding: 70px 0 0 0;
}
.catalog .discount_columbia form .rating_roast{
   padding: 30px 0 0 0;
}
.catalog .discount_columbia form input[type=submit]{
   margin: 40px 0 0 180px;
   padding: 13px 47px;
   background: #F9B300;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
}
.catalog .discount_columbia .token_discount{
   position: absolute;
   bottom: 600px;
   left: 38px;
   width: 70px;
   height: 70px;
   background: url(img/Ellipse\ 6.png) no-repeat left top;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 42px;
   text-align: center;
   vertical-align: middle;
   color: #000000;
   padding-top: 15px;
}
.catalog .discount_columbia .token_discount p{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #F9B300;
   text-align: center;
   padding-top: 40px;
}
.catalog .price_100 p:first-child,
.catalog .price_250 p:first-child,
.catalog .price_500 p:first-child,
.catalog .price_1000 p:first-child{
   text-decoration: line-through;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   text-align: center;
   text-decoration-line: line-through;
   color: #C6C6C6;
}
.catalog .price_100 p:last-child,
.catalog .price_250 p:last-child,
.catalog .price_500 p:last-child,
.catalog .price_1000 p:last-child{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 35px;
   line-height: 44px;
   text-align: center;
   color: #222222;
}
.catalog .price_100{
   position: absolute;
   bottom: 80px;
   left: 30px;
}
.catalog .price_250,
.catalog .price_500,
.catalog .price_1000{
   position: absolute;
   bottom: 80px;
   left: 30px;
   visibility: hidden;
}

/*узнать, почему не работает видимость элементов после выбора веса. начало*/

.catalog .discount_columbia form select option [value="2"]:active{
   visibility: visible;
   display: block;
}
.catalog .discount_columbia form select option [value="2"]:hover + .price_250{
   visibility: visible;
   display: block;
}
/*узнать, почему не работает видимость элементов после выбора веса. конец*/

/*"показать больше". начало*/
 /* оба чекбокса скрыты всегда, работа с ними только через label */
.read-more-radio{
   display: none;
}
 /* большой текст обычно скрыт */
 .read-more-radio + label + div{
   display: none;
 }
 /* и отображается только если выбран первый чекбокс */
.read-more-radio:checked + label + div{
   display: block;
}
 /* первый label обычно отображается */
 .read-more-radio + label
{
   text-decoration: underline;
   cursor: pointer;
}
 /* и скрывается если выбран первый чекбокс */
 .read-more-radio:checked + label
{
   display: none;
}
 /* второй label обычно скрыт */
.read-more-radio + label + div + input + label{
   display: none;
   text-decoration: underline;
   cursor: pointer;
}
 /* и отображается только если выбран первый чекбокс */
.read-more-radio:checked + label + div + input + label{
   display: block;
}
.catalog .show_more{
   margin-left: 370px;
}
.catalog label{
   float: right;
   padding: 50px 120px 0 0;
}
.catalog .advertising_header{
   float: left;
   margin: 190px 0 0 960px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   color: #000000;
}

/* advertising /start*/
.wrap_advertising{
   width: 1904px;
   height: 637px;
   position: relative;
   background: #FFF7E1;
}
.wrap_advertising .advertising{
   width: 1904px;
   height: 637px;
   position: relative;
   background: 
      url(img/pngwing\ 2.png),
      url(img/kisspng-coffee-bean-tea-cafe-coffee-beans-5abbc29114b2e2\ 1.png);
   background-repeat: no-repeat, no-repeat;
   background-position: 120px 200px, 120px 0px;
}
.wrap_advertising .advertising .advertising_01,
.wrap_advertising .advertising .advertising_02,
.wrap_advertising .advertising .advertising_03{
   margin: 0 0 0 960px;
   padding-top: 50px;
}
.wrap_advertising .advertising .advertising_01 div:first-of-type,
.wrap_advertising .advertising .advertising_02 div:first-of-type,
.wrap_advertising .advertising .advertising_03 div:first-of-type{
   width: 84px;
   height: 84px;
   float: left;
   background: url(img/Ellipse\ 11.png) no-repeat;
   text-align: center;
   padding-top: 25px;
}
.wrap_advertising .advertising .advertising_01 h4,
.wrap_advertising .advertising .advertising_02 h4,
.wrap_advertising .advertising .advertising_03 h4{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   padding: 0 0 0 30px;
   margin-left: 100px;
}
.wrap_advertising .advertising .advertising_01 p,
.wrap_advertising .advertising .advertising_02 p,
.wrap_advertising .advertising .advertising_03 p{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   padding: 20px 0 0 30px;
   margin-left: 100px;
}
.advertising_next{
   width: 1904px;
   height: 1096px;
   background: 
      url(img/Vector_top_for_image10.png) no-repeat top left,
      url(img/Vector_bottom_for_image10.png) no-repeat bottom left,
      url(img/image\ 10.png) no-repeat top left;
}
.advertising_next h3{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   color: #FFFFFF;
   padding: 200px 0 0 122px;
}
.advertising_next div{
   width: 1246px;
   margin: 50px 0 0 122px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   color: #FFFFFF;
}
.advertising_next button{
   background: #F9B300;
   border-radius: 5px;
   padding: 22px 68px;
   margin: 120px 0 0 122px;
}
.advertising_next button a{
   text-decoration: none;
   list-style: none;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
   padding: 22px 68px;
}

   /* news/start */

.news .news_header{
   width: 1904px;
   height: 444px;
   background: #FFFFFF;
   background: url(img/Vector_news_02.png) no-repeat bottom;
}
.news .news_header h4{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   margin: 36px 0 0 122px;
}
.news .news_content{
   width: 1904px;
   height: 1078px;
   background: #FFF7E1;
   position: relative;
}
.news .news_content .news_content_wrap{
   position: absolute;
   left: 122px;
   top: -200px;
}
.news .news_content .coffee_tanzania{
   width: 960px;
   height: 400px;
   float: left;
   margin: 20px 0 0 20px;
   /* position: absolute;
   left: 122px;
   top: -200px; */
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}

.news .news_content .coffee_tanzania img{
   float: left;
}
.news .news_content .coffee_tanzania .text{
   margin: 40px 30px 40px 400px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 130%;
}
.news .news_content .coffee_tanzania .text h4{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 130%;
}
.news .news_content .coffee_tanzania .text div:nth-child(2),
.news .news_content .coffee_tanzania .text div:nth-child(3),
.news .news_content .coffee_tanzania .text div:nth-child(4){
   margin-top: 30px;
}
.news .news_content .coffee_tanzania .text div:nth-child(4){
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #F9B300;
}
.news .news_content .cofee_kenia{
   width: 680px;
   height: 400px;
   margin: 20px 0 0 20px;
   float: left;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
   border-radius: 20px;
}
.news .news_content .cofee_kenia h4{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 130%;
   padding: 60px 0 0 140px;
}
.news .news_content .cofee_kenia div:nth-child(2){
   margin: 40px 112px 0 140px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 130%;
}
.news .news_content .cofee_kenia div:nth-child(3){
   margin: 50px 0 0 140px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #F9B300;
}
.title_insta{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   background: #FFF7E1;
   margin: 0px 0 300px 120px;
   padding-top: 700px;
}
.title_insta h4{float: left;}
.title_insta img{
   float: left;
   margin-left: 55px;
}
.news_insta{
   width: 1904px;
   height: 660px;
   position: relative;
   background: #F9B300;
}
.news_insta .phone_1{
   position: absolute;
   left: 0px;
   top: -300px;
}
.news_insta .phone_2{
   position: absolute;
   left: 0px;
   top: -200px;
}
.news_insta .insta_photo{
   position: absolute;
   left: 944px;
   top: -300px;
}
.news_insta .insta_photo .photo_1{
   width: 400px;
   height: 382px;
   float: left;
   margin: 20px 0 0 20px;
   background: #E9E9E9;
   border-radius: 10px;
}
.news_insta .insta_photo .photo_2{
   width: 100px;
   height: 382px;
   float: left;
   margin: 20px 0 0 20px;
   background: #E9E9E9;
   border-radius: 10px;
}
.news_insta .insta_arrow{
   width: 70px;
   height: 70px;
   position: absolute;
   top: 70px;
   left: 1820px;
   background: url(img/Ellipse\ 6_1.png) no-repeat top;
   text-align: center;
   padding-top: 3px;
   font-size: 50px;
   color: #F9B300;
}
.news_subscription{
   width: 1904px;
   height: 700px;
   background: #E5E5E5;
   background:
      url(img/kisspng-coffee-espresso-cappuccino-cafe-breakfast-coffee-5abb12d39e9a33\ 2.png),
      url(img/kisspng-cafe-chocolate-covered-coffee-bean-espresso-5aeee25cddd876\ 2.png),
      url(img/Vector_subscr.png);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: 1260px 100px, 1200px 10px, top right;
   transform: rotate(0deg), rotate(163.23deg), rotate(0deg);
}
.news_subscription h3{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 62px;
   padding: 160px 0 0 122px;
}
.news_subscription .mes{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   margin: 50px 0px 0 120px;
   padding-right: 1000px;
}
.news_subscription .form_email{
   height: 80px;
   margin: 60px 680px 0 122px;
   background: #F3F3F3;
   border-radius: 40px;
   box-sizing: border-box;
}
.news_subscription .form_email input[type="text"]{
   float: left;
   width: 76%;
   height: 80px;
   box-sizing: border-box;
   border: none;
   background: #F3F3F3;
   border-radius: 40px 0 0 40px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 130%;
   color: #C9C9C9;
   padding: 0 0px 0 40px;
}
.news_subscription .form_email button{
   float: right;
   height: 80px;
   border-radius: 40px;
   background: #F9B300;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   color: #FFFFFF;
   padding: 0 50px 0 50px;
}
.news_subscription .warning{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 130%;
   color: #5B5B5B;
   margin: 20px 0 0 122px;
}
.news_subscription .warning a{
   color: #F9B300;
   text-decoration: none;
}
.footer{
   height: 220px;
   width: 1904px;
   /* margin-left: 8px;
   margin-right: 8px; */
   background: #FFFFFF;
   background: url(img/image\ 25.png) no-repeat 122px 20px;
}
.footer .topmenu_contacts,
.footer .topmenu_blog,
.footer .topmenu_catalog{
   float: right;
   margin: 70px 100px 0 0;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   list-style: none;
   text-decoration: none;
}
.footer .topmenu_contacts a,
.footer .topmenu_blog a,
.footer .topmenu_catalog a{
   list-style: none;
   text-decoration: none;
   color: #000000;
}
.o{
   margin: 0   10px 0 10px;
   border: solid 3px green;
}
@media screen and (min-width: 1601px) {}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
   /*banner*/

.banner{
   width: 100%;
   height: 854px;
   margin: 0 10px 0 0px;
   /* background: #E5E5E5;
   background:
      url(img/kisspng-coffee-espresso-cappuccino-cafe-breakfast-coffee-5abb12d39e9a33\ 1.png),
      url(img/kisspng-cafe-chocolate-covered-coffee-bean-espresso-5aeee25cddd876\ 1.png),
      url(img/vector_midl.png);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: 900px 100px, 800px 40px, top right;
   transform: rotate(0deg), rotate(157.31deg), rotate(0deg); */
}
.banner h2{
   font-size: 56px;
   line-height: 70px;
   padding: 80px 0px 0px 86px;
}
.banner p{
   /* font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500; */
   font-size: 18px;
   line-height: 130%;
   padding: 40px 0px 0px 86px;
}
.banner a{
   /* font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700; */
   font-size: 21px;
   line-height: 25px;
   /* color: #FFFFFF;
   list-style: none;
   text-decoration: none; */
}
.banner a p{
   width: 200px;
   height: 25px;
   /* background: #F9B300;
   border-radius: 5px; */
   margin: 60px 0px 0px 86px;
   padding: 15px 40px;
}
/*catalog*/

.catalog{
   position: relative;
   /* width: 1920px; */
   width: 100%;
   height: 2040px;
   margin: 0 10px 0 0px;
   /* background: #E5E5E5;
   background: 
      url(img/vector_bottom.png) no-repeat right top,
      url(img/Vector_catalog.png) no-repeat left bottom,
      url(img/vector_left.png) no-repeat left top; */
   }
.catalog h2{
   /* font-family: 'Gilroy';
   font-style: normal;
   font-weight: 900; */
   font-size: 35px;
   line-height: 44px;
   padding: 0px 0px 0px 86px;
}


}
   
@media screen and (min-width: 768px) and (max-width: 1279px) { }
   

   @media screen and (max-width: 767px) {}









