.menu {
	width: 150px;
	height: 50px;
	border: 3px solid;
	border-radius: 10px;
	background: rgba(208, 186, 186, 0.871);
	display: table;
	float: left;
	color: black;
	text-align: center;
}
.menu ul li ul li{/*my*/
	width: 100px;
	height: 25px;
	border: 3px solid;
	border-radius: 10px;
	text-align: left;
  }
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
	/*position: relative;*/
}
.menu li a {
	display: block;
	padding: 15px 15px;
	
}
.menu ul li:hover, .menu a:hover{
	background: rgb(190, 148, 148);
}
.menu li:hover ul{
	display: block;
	position: absolute;
	
}
.menu ul ul  {
	display: none;
}
.menu ul ul li  {
	display: block;
	padding: 5px 0;
}
.menu ul ul li a  {
	display: block;
	padding: 0;
	text-align: center;
}
@media all and (min-device-width: 1360px){
	.menu ul ul li a  {
		display: block;
		padding: 0;
		color: blueviolet;
		text-align: center;
	}
}
@media screen and (min-device-width: 1100px) and (max-device-width: 1360px){
	.menu ul ul li a  {
		display: block;
		padding: 0;
		color: rgb(165, 215, 118);
		text-align: center;
	}
}
@media all and (max-device-width: 1099px) {
	.wrap{
		width: 300px;
		height: 50px;
	}
	.menu {
		display: block;
		background: none;
		border: solid white;
		border-radius: 5px;
		padding: 0;
		margin: 0;
		width: 150px; 
	}
	.menu li {
		position: relative;
		list-style: none;
		background: #7339BA;
		border: solid 1px #D6C2FF;
		border-radius: 5px;
		padding: 0;
		margin: 2px;
	}
	.menu li:hover {
		border: solid 1px transparent;
		border-radius: 5px;
		margin: 2px 10px;
	}
  .menu a {
	display: block;
	text-align: left;
	color: #E6E6FF;
	padding: 7px; 
	margin: 0;
  }
  .menu a:hover {
	color: #3D1F4C;
  }
  .drop-link:hover {
	background: #ccf; 
  }
  .drop-block {
	display: block;
	position: absolute;
	z-index: 1000;
	left: 100%; 
	top: -9999em; 
  
	opacity: 0;
	padding: 0;
	margin: -10px -20px 0 0; 
	min-width: 250px; 
	width: auto; 
  }
  .drop-link:hover > .drop-block {
	top: 0; 
	opacity: 1;
  }
}



