
div{
    border: 100px solid red;
    background-size: contain;
    border-image-source: url(img/ramka.png);
    border-image-slice: 100;
    border-image-repeat: round;

    text-align: center;
    font-size: 24px;
    padding: 10px;
    background-size: 24px;
}