
*{
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none; /*чтобы автоматически НЕ изменять размеры шрифтов при изменении ориентации устройства*/
}
.zero{
  padding: 0 10px 0 10px;
  background-color: black;
}
h3, label{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;  
}
h4{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
}
a, p, ul, li, span{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
}
a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
a:hover {
  background-size: 100% 2px;
}
.wrap{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  padding: 110px 120px;
}
header{
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
main{
  background-color: #FFFFFF;
}  
header .menu_wrap{
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  padding: 30px;
}  
header .menu_wrap svg{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}  
header .menu_wrap svg path{
  fill: #2F323B;
}  
header .menu_wrap nav{
  padding: 50px 0;
}   

/* MENU/CTART */
  
header .menu_wrap nav ul{
  list-style: none;
}
header .menu_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
header .menu_wrap .topmenu>li>a{
  padding: 0 20px;
}  
header .menu_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}  
header .menu_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}  

  /* MENU/END */    
  
.about{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.about .thumb_wrap{
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.about .thumb_wrap iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
.about .thumb_wrap .slogan{
  display: none;
}
.about .wrap .slogan a{
  text-decoration: none;
}

.location_wrap{
  display: grid;
  grid-template-columns:  1fr 1fr; 
  grid-template-rows: auto;
  padding: 110px 120px;
}
.location_wrap div img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
.location_wrap div:nth-child(1){
  grid-column: 1 / span 2;
  grid-row: 1;
}
.location_wrap div:nth-child(3){
  padding: 0 70px;
}
.location_wrap div h3{
  padding-bottom: 60px;
}

.location_wrap .text div{
  padding: 25px 0 55px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.location_wrap .text div span{
  float: right;
  color: rgba(47, 50, 59, 0.6);
}
.location_wrap .text div p{float: left;}

/*SLIDER_start*/
.slider {
  position: relative;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 110px;
  padding: 0 120px;
  text-align: center;
}
.slider .btn {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  top: 50%;
  background-color: rgba(95, 106, 117, 0.3);
  z-index: 1;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.slider .btn:hover{
  background-color: rgba(95, 106, 117, 0.5);
  cursor: pointer;
}
.slider .btn.next {
  right: 120px;
}
.slider .btn.prev {
  left: 120px;
}
.scroller {
  overflow-y: hidden;
  display: flex;
  height: 600px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.item {
  min-width: 100%;
  scroll-snap-align: center;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}

.region_info .wrap{
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.region_info .wrap .text span{
  font-size: 18px;
  line-height: 28px;
  opacity: 0.6;
}  
.region_info .wrap div a{
  font-size: 18px;
  line-height: 28px;
  float: right;
  text-decoration: none;
}  
.region_info .wrap div a:hover{
  color: #2DB1E4;
}
.region_info .wrap .text div{
  padding: 26px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}  
.region_info .wrap .text div:last-child{
  border-bottom: none;
}
.region_info .icons_wrap{
  display: grid;
  grid-template-columns:  repeat(4, 1fr); 
  grid-template-rows: auto;
  grid-column-gap: 100px;
  padding: 110px 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.region_info .icons_wrap h4{
  text-align: center;
}
.region_info .icons_wrap .icon_cont_01{
  height: 100px;
  width: 100px;
  background: url(img/icons_articl.gif) no-repeat 10px 0;
}
.region_info .icons_wrap .icon_cont_02{
  height: 100px;
  width: 100px;
  background: url(img/icons_articl.gif) no-repeat -150px 0;
}
.region_info .icons_wrap .icon_cont_03{
  height: 100px;
  width: 100px;
  background: url(img/icons_articl.gif) no-repeat -331px 0;
}
.region_info .icons_wrap .icon_cont_04{
  height: 100px;
  width: 100px;
  background: url(img/icons_articl.gif) no-repeat -520px 0;
}
.region_info .icons_wrap .icon_01 div:nth-child(1),
.region_info .icons_wrap .icon_02 div:nth-child(1),
.region_info .icons_wrap .icon_03 div:nth-child(1),
.region_info .icons_wrap .icon_04 div:nth-child(1){
  margin: auto;
} 

.cause{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cause .source{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto;
  padding: 0 120px 110px 120px;
}
.cause .source div{
  position: relative;
  height: 200px;
  background-size: cover;
  text-align: center;
  transition: height 1s;
  overflow: hidden;
}
.cause .source div:hover{
  height: auto;
}
.cause .source div h4{
  padding-top: 150px;
  color: #FFFFFF;
}
.cause .source div p{
  padding: 20px;
  color: #FFFFFF;
}
.cause .source div svg{
  width: 70px;
  height: 70px;
}
.cause .source div svg path{
  fill: #FFFFFF;
}
.cause .source .source_01{
  background: url(img/image_0109_01.jpeg)  no-repeat center center;
  background-size: cover;
}
.cause .source .source_02{
  background: url(img/image_0109_02.jpeg)  no-repeat center center;
  background-size: cover;
}
.cause .source .source_03{
  background: url(img/image_0109_03.jpeg)  no-repeat center center;
  background-size: cover;
}
.cause .source .source_04{
  background: url(img/image_0109_04.jpeg)  no-repeat center center;
  background-size: cover;
}
.cause .source .source_05{
  background: url(img/image_0109_05.jpeg)  no-repeat center center;
  background-size: cover;
}
.cause .source .source_06{
  background: url(img/image_0109_06.jpeg)  no-repeat center center;
  background-size: cover;
}
.cause .source .source_01 svg,
.cause .source .source_02 svg,
.cause .source .source_03 svg,
.cause .source .source_04 svg,
.cause .source .source_05 svg,
.cause .source .source_06 svg{
  position: absolute;
  top: 50px;
  left: 50px;
}

.link .wrap div h3{
  color: #2F323B;
}
.link .wrap div span{
  color: #2F323B;
  opacity: 0.5;
}  
.link .wrap div a{
  color:#2F323B;
  float: right;
}  
.link .wrap div a:hover{
  color: #2DB1E4;
}
.link .wrap .connection_text div{
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.connection{
  background: #2F323B;
}  
.connection .wrap{
  padding: 110px 120px;
}.connection .wrap div h3{
  color: #F7F5F3;
}
.connection .wrap div span{
  color: #F7F5F3;
  opacity: 0.5;
}  
.connection .wrap div a{
  color: #F7F5F3;
  float: right;
  text-decoration: none;
}  
.connection .wrap div a:hover{
  color: #2DB1E4;
}
.connection .wrap .connection_text div{
  padding: 30px 0;
  border-bottom: 1px solid rgba(247, 245, 243, 0.2);
}  
.connection .wrap .connection_text div:last-child{
  border-bottom: none;
}

footer{
  background: #2F323B;
  border-top: 1px solid rgba(247, 245, 243, 0.2);
}  
footer .footer_wrap{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  padding: 0 120px 0 120px;
}  
footer .footer_wrap div{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_wrap nav{
  float: left;
}
footer .footer_wrap nav ul{
  list-style: none;
  padding: 60px 0 60px 0;
}  
footer .footer_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}  
footer .footer_wrap .topmenu>li>a{
  padding-right: 40px;
  color: #FFFFFF;
}
footer .footer_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}  
footer .footer_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}
footer .media{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_wrap .media div{
  padding: 60px 0;
  float: right;
  align-self: right;
  border: none;
}
footer .footer_wrap .media a{
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 40px;
}
footer .footer_wrap .media a:hover{
  color: #2DB1E4;
}  
footer .footer_wrap div p{
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
}
footer .footer_wrap div:last-child p{
  float: right;
}
footer .footer_wrap div:last-child p a{
  color: #F7F5F3;
  text-decoration: none;
}
footer .footer_wrap div:last-child p a:hover{
  color: #2DB1E4;
}  
#menu__toggle{
  opacity: 0;
}  
.menu__btn{
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}      
.menu__btn > span::before{
  content: '';
  top: -8px;
}  
.menu__btn > span::after{
  content: '';
  top: 8px;
}  
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}  
.menu__btn > span,
.menu__btn > span::before,  
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2DB1E4;
}  
.menu__btn > span::before{
  content: '';
  top: -8px;
}  
.menu__btn > span::after {
  content: '';
  top: 8px;
}  
.menu__box{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}  
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 27px;
  line-height: 25px;
  color:#2F323B;
  text-decoration: none;
}  
.menu__item:hover{
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span{
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before{
  top: 0;
  transform: rotate(0);
}  
#menu__toggle:checked ~ .menu__btn > span::after{
  top: 0;
  transform: rotate(90deg);
}  
#menu__toggle:checked ~ .menu__box{
  visibility: visible;
  left: 0;
}  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  transition-duration: .25s;
}  
.menu__box{
  transition-duration: .25s;
}
.menu__item{
  transition-duration: .25s;
} 

@media(min-width: 1440px){
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  header .menu_wrap .topmenu > li{
    position: relative;
    list-style: none;
  }
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  header .menu_wrap .topmenu > li:last-child:after{
    background: none;
    box-shadow: none;
  }
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  header .menu_wrap .topmenu li a:hover{
    color: #2DB1E4;
  }
  header .menu_wrap .topmenu li:nth-child(5){
    display: none;
  }
  .hamburger-menu{
    display: none;
  }
  footer .footer_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  footer .footer_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  footer .footer_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  footer .footer_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }  
  footer .footer_wrap .topmenu .submenu{
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  footer .footer_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  footer .footer_wrap .topmenu li a:hover{
    color: #2DB1E4;
  }
}

@media(min-width: 960px) and (max-width: 1439px){
  h3{
    font-size: 25px;
    line-height: 45px; 
  }
  h4{
    line-height: 25px;
  }
  a, p, ul, li, span{
    font-size: 16px;
    line-height: 25px;
  }  
  .wrap{
    padding: 0 80px;
  }
  header .menu_wrap{
    grid-template-columns: 108px 1fr;
    padding: 30px;
  }  
  header .menu_wrap nav{
    padding: 50px 0 0 0;
  }  
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  header .menu_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  header .menu_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }  
  header .menu_wrap .topmenu>li>a{
    padding: 0 15px 0 15px;
    font-size: 16px;
    line-height: 19px;
  }  
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }  
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  header .menu_wrap .topmenu li a:hover{
    border: 2px solid #FFFFFF;
    transform: scale(1);
  }  
  header .menu_wrap .topmenu li:last-child{
    display: block;
  }
  .hamburger-menu{
    display: none;
  }
  
  .about .wrap{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    padding: 80px 0;
  }
  .about_wrap h3{
    font-size: 80px;
    line-height: 70px;
    padding: 0 0 60px 0;
  }
  .about .about_wrap p{
    font-size: 16px;
    line-height: 25px;
    padding: 0;
  } 
  .about .wrap div:nth-child(1),
  .about .wrap div:nth-child(2),
  .about .wrap div:nth-child(3){
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 80px;
  }
  .about .wrap div:nth-child(3){
    padding-bottom: 80px;
  }
  
  .location_wrap{
    padding: 80px;
  }
  .location_wrap div:nth-child(1){
    display: none;
  }
  .location_wrap .text div{
    padding: 15px 0 45px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  }
  .location_wrap .text div p,
  .location_wrap .text div span{
    font-size: 16px;
    line-height: 25px;
  }

  .slider {
    height: 410px;
    padding: 0 80px;
    margin-bottom: 80px;
  }
  .slider .btn.next {
    right: 80px;
  }
  .slider .btn.prev {
    left: 80px;
  }
  .scroller {
    height: 410px;
  }

  .region_info .wrap{
    padding: 80px;
  }
  .region_info .wrap .text span{
    font-size: 16px;
    line-height: 25px;
  }
  .region_info .icons_wrap{
    grid-column-gap: 80px;
    padding: 80px 80px;
  }
  .cause .wrap{
    padding: 80px;
  }
  .cause .source{
    padding: 0 80px 80px 80px;
  }
  .cause .source .source_01 svg,
  .cause .source .source_02 svg,
  .cause .source .source_03 svg,
  .cause .source .source_04 svg,
  .cause .source .source_05 svg,
  .cause .source .source_06 svg{
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .link .wrap{
    padding: 80px;
  }
  .link .wrap .connection_text div{
    padding: 18px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  } 
  
  .connection .wrap{
    padding: 80px;
  }
  .connection .wrap .connection_text div{
    padding: 17.5px 0;
  }
  
  footer .footer_wrap{
    padding: 0 80px;
  }
  footer .footer_wrap nav{
    float: left;
  }
  footer .footer_wrap nav ul{
    list-style: none;
    padding: 22px 0;
  }  
  footer .footer_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  footer .footer_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  footer .footer_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }  
  footer .footer_wrap .topmenu>li>a{
    padding: 0 40px 0 0;
    font-size: 16px;
    line-height: 19px;
  }  
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }  
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  footer .footer_wrap .topmenu li a:hover{
    color: #2DB1E4;
  }
  footer .footer_wrap .media div{
    padding: 22px 0;
  }
  footer .footer_wrap .media a{
    padding-left: 20px;
  }
  footer .footer_wrap div p{
    padding: 22px 0;
  }
}
@media(min-width: 760px) and (max-width: 959px){
    h3{
      font-size: 25px;
      line-height: 45px; 
    }
    h4{
      line-height: 25px;
    }
    a, p, ul, li, span{
      font-size: 16px;
      line-height: 25px;
    }
    .wrap{
      padding: 40px;
    }
    .hamburger-menu{
      display: block;
    }
    header .menu_wrap{
      display: grid;
      grid-template-columns: 1fr 94px;
      grid-template-rows: auto;
      padding: 10px;
    }
    header .menu_wrap div:first-child{
      grid-column: 2;
      grid-row: 1;
    }
    header .menu_wrap nav{display: none;}
    .about .wrap{
      display: grid;
      grid-template-columns: 1fr; 
      grid-template-rows: auto;
      border-bottom: none;
    }
    .about .wrap h3{
      font-size: 80px;
      line-height: 80px;
      padding: 0 0 25px 0;
    }
    .about .wrap p{
      font-size: 16px;
      line-height: 25px;
      padding: 0;
    }
    .about .wrap div:nth-child(1),
    .about .wrap div:nth-child(2),
    .about .wrap div:nth-child(3){
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 0;
    }

    .location_wrap{
      padding: 40px;
    }
    .location_wrap div:nth-child(2){
      grid-column: 1 / span 2;
      grid-row: 3;
    }
    .location_wrap div:nth-child(3){
      grid-column: 1 / span 2;
      grid-row: 2;
      padding: 0 40px;
    }
    .location_wrap .text div {
      padding: 15px 0 45px 0;
    }

    .slider {
      height: 410px;
      padding: 0 40px;
      margin-bottom: 40px;
    }
    .slider .btn.next {
      right: 40px;
    }
    .slider .btn.prev {
      left: 40px;
    }
    .scroller {
      height: 410px;
    }

    .region_info .wrap{
      display: grid;
      grid-template-columns:  1fr; 
      grid-template-rows: auto;
      padding: 40px;
    }
    .region_info .wrap .text div{
      padding: 16px 0;
    }
    .region_info .wrap div span,
    .region_info .wrap div a{
      font-size: 16px;
      line-height: 25px;
    }
    .region_info .icons_wrap{
      grid-column-gap: 40px;
      padding: 40px;
    }
    .cause .wrap{
      display: grid;
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: auto;
      padding: 40px;
    }
    .cause .source{
      padding: 0 40px 40px 40px;
    }
    .cause .source div h4{
      padding-top: 120px;
      color: #FFFFFF;
    }
    .cause .source div p {
      padding: 50px 10px 10px 10px;
    }
    .cause .source .source_01 svg,
    .cause .source .source_02 svg,
    .cause .source .source_03 svg,
    .cause .source .source_04 svg,
    .cause .source .source_05 svg,
    .cause .source .source_06 svg{
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .link .wrap{
      display: grid;
      grid-template-columns:  1fr; 
      grid-template-rows: auto;
      padding: 40px;
    }
    .link .wrap .connection_text div{
      padding: 22px 0;
    } 
    
    .connection .wrap{
      padding: 60px 30px;
    }
    .connection .wrap .connection_text div{
      padding: 15px 0;
    }

    footer .footer_wrap{
      padding: 0 30px;
    }
    footer .footer_wrap nav{
      float: left;
    }
    footer .footer_wrap nav ul{
      list-style: none;
      padding: 22px 0;
    }
    footer .footer_wrap .topmenu {
      width: 100%;
      display: flex;
      justify-content: right;
    }
    footer .footer_wrap .topmenu>li {
      position: relative;
      list-style: none;
    }
    footer .footer_wrap .topmenu>li:after {
      position: absolute;
      right: 0;
      width: 1px;
      height: 12px;
      top: 20px;
      box-shadow: 4px -2px 0 red;
      transform: rotate(30deg);
    }
    footer .footer_wrap .topmenu>li:last-child:after {
      background: none;
      box-shadow: none;
    }
    footer .footer_wrap .topmenu>li>a{
      padding: 0 20px 0 0;
    }
    footer .footer_wrap .topmenu .submenu {
      position: absolute;
      left: 60%;
      bottom: 100%;
      width: 150px;
      margin-left: -105px;
      background: #fafafa;
      border: 1px solid #ededed;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      transform: scale(.8);
      transition: .4s ease-in-out;
    }
    footer .footer_wrap .topmenu>li:hover .submenu {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    footer .footer_wrap .topmenu .submenu li a {
      text-decoration: none;
      text-align: center;
      padding: 10px 0;
      margin: 0 10px;
    }
    footer .footer_wrap .topmenu li a:hover {
      color: #2DB1E4;
    }
    footer .footer_wrap .media div{
      padding: 22px 0;
    }
    footer .footer_wrap .media a{
      padding-left: 20px;
    }
    footer .footer_wrap div p{
      padding: 22px 0;
    }
}

@media(min-width: 375px) and (max-width: 759px){
  h3{
    font-size: 21px;
    line-height: 35px; 
  }
  h4{
    font-size: 16px;
    line-height: 25px; 
  }
  a, p, ul, li, span{
    font-size: 14px;
    line-height: 20px;
  } 
  .wrap{
    padding: 0 30px;
  }
  .hamburger-menu{
    display: block;
  }
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }  
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }  
  header .menu_wrap nav{
    display: none;
  }  

  .about .wrap{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    padding: 30px;
    border-bottom: none;
  }
  .about .wrap h3{
    font-size: 36px;
    line-height: 40px;
    padding: 0 0 30px 0;
  }
  .about .wrap p{
    font-size: 21px;
    line-height: 30px;
    padding: 0;
  }
  .about .wrap div:nth-child(1),
  .about .wrap div:nth-child(2),
  .about .wrap div:nth-child(3){
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .about .thumb_wrap{
    position: relative;
    padding-bottom: 75%;
  }
  .about .thumb_wrap .slogan{
    display: block;
    position: absolute;
    width: 100%;
    height: 66px;
    top: 0;
    background: rgba(47, 50, 59, 1);
  }
  .slogan ul{
    list-style: none;
    padding: 20px 0;
    text-align: center;
  }
  .slogan ul a{
    list-style: none;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .slogan ul a:hover{
    color: #2DB1E4;
  }
  .location_wrap{
    padding: 30px;
  }
  .location_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .location_wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 2;
    padding: 0 30px;
  }
  .location_wrap .text div {
    padding: 15px 0 45px 0;
  }

  .slider {
    height: 375px;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .slider .btn.next {
    right: 30px;
  }
  .slider .btn.prev {
    left: 30px;
  }
  .scroller {
    height: 375px;
  }

  .region_info .wrap{
    display: grid;
    grid-template-columns:  1fr; 
    grid-template-rows: auto;
    padding: 30px;
  }
  .region_info .wrap .text div{
    padding: 22px 0;
  }
  .region_info .wrap .text span {
  font-size: 14px;
  line-height: 25px;
  }
  .region_info .wrap div a{
    font-size: 14px;
    line-height: 25px;
  }
  .region_info .icons_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 30px;
  }
  .cause .wrap{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    padding: 30px;
  }
  .cause .source{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    padding: 0 30px 30px 30px;
  }
  .cause .source .source_01 svg,
  .cause .source .source_02 svg,
  .cause .source .source_03 svg,
  .cause .source .source_04 svg,
  .cause .source .source_05 svg,
  .cause .source .source_06 svg{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .link .wrap{
    display: grid;
    grid-template-columns:  1fr; 
    grid-template-rows: auto;
    padding: 30px;
  }
  .link .wrap .connection_text div{
    padding: 20px 0;
  } 

  .connection .wrap{
    padding: 30px;
  }
  .connection .wrap .connection_text div{
    padding: 23px 0;
    border-bottom: 1px solid rgba(247, 245, 243, 0.2);
  }  
  .connection .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
  }  
  .connection .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  footer .footer_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    padding: 0 20px;
  }  
  footer .footer_wrap div > nav{display: none;}
  footer .footer_wrap .media{
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
  }  
  footer .footer_wrap .media div{padding: 18px 0;}
  footer .footer_wrap .media div a{padding: 0 20px;}
  footer .footer_wrap div p{padding: 18px 0;}
  footer .footer_wrap div:nth-child(3){
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    border-bottom: none;
  }  
  footer .footer_wrap div:nth-child(4){
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    border-bottom: none;
  }  
}