*{
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none; /*чтобы автоматически НЕ изменять размеры шрифтов при изменении ориентации устройства*/
}
.zero{
  padding: 0 10px 0 10px;
  background-color: black;
}
h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;  
}
a, p, ul, li, span{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  box-sizing: border-box
}
label{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: rgba(47, 50, 59, 0.6);
}
header{
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
main{background-color: #FFFFFF;}  
header .menu_wrap{
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  padding: 30px;
}  
header .menu_wrap svg{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}  
header .menu_wrap svg path{fill: #2F323B;}  
header .menu_wrap nav{padding: 50px 0;}   

/* MENU/CTART */
  
header .menu_wrap nav ul{list-style: none;}
header .menu_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
header .menu_wrap .topmenu>li>a{padding: 0 20px;}  
header .menu_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}  
header .menu_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}  

  /* MENU/END */ 
  
.connection{background: #FFFFFF;}  
.connection_wrap{
  display: grid;
  grid-template-columns:  1fr 1fr; 
  grid-template-rows: auto;
  padding: 0 120px;
}
.connection_wrap div a:hover{color: #2DB1E4;}
.connection_wrap .map{
  grid-column: 1;
  grid-row: 1 / span 2;
}
.connection_wrap .map iframe{
  width: 100%;
  height: 100%;
}
.connection_wrap .connection_text h3{padding: 25px 0;}
.connection_wrap div a{
  float: right;
  text-decoration: none;
}  
.connection_wrap .connection_text div{
  padding: 30px 0 ;
  margin-left: 40px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}  
.connection_wrap .request h3{padding: 45px 0 15px 0;}
.connection_wrap .request div{
  padding-bottom: 30px;
  margin-left: 40px;
}
.connection_wrap .request div:nth-child(1){border-bottom: 1px solid rgba(230, 230, 230, 1);}
.connection_wrap .request textarea,
.connection_wrap .request input[type="email"],
.connection_wrap .request input[type="text"]{
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0;
  border: none;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  font-size: 21px;
  line-height: 30px;
  color: rgba(145, 147, 151, 1);
}
.connection_wrap .request textarea{padding-bottom: 0;}
.connection_wrap .request input[type="checkbox"]{margin-top: 30px;}
.connection_wrap .request div form{width: 100%;}
.connection_wrap .request div button{
  cursor: pointer;
  background-color: #FFFFFF;
  font-size: 21px;
  line-height: 30px;
  color: rgba(73, 76, 84, 1);
  padding: 20px 70px;
  margin: 30px 0;
  float: right;
}
.connection_wrap .request div button:hover{
  color: #2DB1E4;
  background-color: #F7F5F3;
}
footer{
  background: #2F323B;
  border-top: 1px solid rgba(247, 245, 243, 0.2);
}  
footer .footer_wrap{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  padding: 0 120px 0 120px;
}  
footer .footer_wrap div{border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
footer .footer_wrap nav{float: left;}
footer .footer_wrap nav ul{
  list-style: none;
  padding: 60px 0 60px 0;
}  
footer .footer_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}  
footer .footer_wrap .topmenu>li>a{
  padding-right: 40px;
  color: #FFFFFF;
}
footer .footer_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}  
footer .footer_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}
footer .media{border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
footer .footer_wrap .media div{
  padding: 60px 0;
  float: right;
  align-self: right;
  border: none;
}
footer .footer_wrap .media a{
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 40px;
}
footer .footer_wrap .media a:hover{color: #2DB1E4;}  
footer .footer_wrap div p{
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
}
footer .footer_wrap div:last-child p{float: right;}
footer .footer_wrap div:last-child p a{
  color: #F7F5F3;
  text-decoration: none;
}
footer .footer_wrap div:last-child p a:hover{color: #2DB1E4;}  
#menu__toggle{
  opacity: 0;
}  
.menu__btn{
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}      
.menu__btn > span::before{
  content: '';
  top: -8px;
}  
.menu__btn > span::after{
  content: '';
  top: 8px;
}  
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}  
.menu__btn > span,
.menu__btn > span::before,  
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2DB1E4;
}  
.menu__btn > span::before{
  content: '';
  top: -8px;
}  
.menu__btn > span::after {
  content: '';
  top: 8px;
}  
.menu__box{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}  
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 27px;
  line-height: 25px;
  color:#2F323B;
  text-decoration: none;
}  
.menu__item:hover{background-color: #CFD8DC;}
#menu__toggle:checked ~ .menu__btn > span{transform: rotate(45deg);}
#menu__toggle:checked ~ .menu__btn > span::before{
  top: 0;
  transform: rotate(0);
}  
#menu__toggle:checked ~ .menu__btn > span::after{
  top: 0;
  transform: rotate(90deg);
}  
#menu__toggle:checked ~ .menu__box{
  visibility: visible;
  left: 0;
}  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  transition-duration: .25s;
}  
.menu__box{transition-duration: .25s;}
.menu__item{transition-duration: .25s;}  

@media(min-width: 1440px){
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  header .menu_wrap .topmenu > li{
    position: relative;
    list-style: none;
  }
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  header .menu_wrap .topmenu > li:last-child:after{
    background: none;
    box-shadow: none;
  }
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  header .menu_wrap .topmenu li a:hover{color: #2DB1E4;}
  header .menu_wrap .topmenu li:nth-child(5){display: none;}
  .hamburger-menu{display: none;}
  footer .footer_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  footer .footer_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  footer .footer_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  footer .footer_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }  
  footer .footer_wrap .topmenu .submenu{
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  footer .footer_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  footer .footer_wrap .topmenu li a:hover{color: #2DB1E4;}
}

@media(min-width: 960px) and (max-width: 1439px){
  h3{
    font-size: 25px;
    line-height: 45px; 
  }
  a, p, ul, li, span{
    font-size: 16px;
    line-height: 25px;
  }
  label{
    font-size: 12px;
    line-height: 15px;
  }
  header .menu_wrap{
    grid-template-columns: 108px 1fr;
    padding: 30px;
  }  
  header .menu_wrap nav{padding: 50px 0 0 0;}  
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  header .menu_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  header .menu_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }  
  header .menu_wrap .topmenu>li>a{
    padding: 0 15px 0 15px;
    font-size: 16px;
    line-height: 19px;
  }  
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }  
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  header .menu_wrap .topmenu li a:hover{
    border: 2px solid #FFFFFF;
    transform: scale(1);
  }  
  header .menu_wrap .topmenu li:last-child{display: block;}
  .hamburger-menu{display: none;}
  .connection_wrap{padding: 0;}
  .connection_wrap .map{
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .connection_wrap .connection_text{
    grid-column: 1;
    grid-row: 1;
  }
  .connection_wrap .request{
    grid-column: 2;
    grid-row: 1;
  }
  .connection_wrap .connection_text h3{padding: 15px 0;}
  .connection_wrap .connection_text div{
    padding: 30px 0 ;
    margin-left: 0;
  }
  .connection_wrap .connection_text div{
    padding: 22px 0;
    margin: 0 30px;
  }
  .connection_wrap .request{border-left: 1px solid rgba(230, 230, 230, 1);}
  .connection_wrap .request div{
    padding-bottom: 0;
    margin: 0 30px;
  }
  .connection_wrap .request h3{padding: 37px 0;}
  .connection_wrap .request textarea,
  .connection_wrap .request input[type="email"],
  .connection_wrap .request input[type="text"]{
    padding: 19.5px 0;
    font-size: 16px;
  }
  .connection_wrap .request div button{
    font-size: 16px;
    line-height: 30px;
    padding: 20px 50px;
  }
  footer .footer_wrap{padding: 0 80px;}
  footer .footer_wrap nav{float: left;}
  footer .footer_wrap nav ul{
    list-style: none;
    padding: 22px 0;
  }  
  footer .footer_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  footer .footer_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  footer .footer_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }  
  footer .footer_wrap .topmenu>li>a{
    padding: 0 40px 0 0;
    font-size: 16px;
    line-height: 19px;
  }  
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }  
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  footer .footer_wrap .topmenu li a:hover{color: #2DB1E4;}
  footer .footer_wrap .media div{padding: 22px 0;}
  footer .footer_wrap .media a{padding-left: 20px;}
  footer .footer_wrap div p{padding: 22px 0;}
}

@media(min-width: 760px) and (max-width: 959px){
  h3{
    font-size: 25px;
    line-height: 45px; 
  }
  a, p, ul, li, span{
    font-size: 16px;
    line-height: 25px;
  }    
  .hamburger-menu{display: block;}
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }
  header .menu_wrap nav{display: none;}  
  .connection_wrap{padding: 0;}
  .connection_wrap .map{height: 390px;}
  .connection_wrap .map{
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .connection_wrap .connection_text{
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .connection_wrap .request{
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .connection_wrap .connection_text h3{padding: 15px 0;}
  .connection_wrap .connection_text div{
    padding: 30px 0 ;
    margin: 0 30px;
  }
  .connection_wrap .request div{
    padding-bottom: 0;
    margin: 0 30px;
  }
  .connection_wrap .request h3{padding: 45px 0;}
  .connection_wrap .request textarea,
  .connection_wrap .request input[type="email"],
  .connection_wrap .request input[type="text"]{
    padding: 17.5px 0;
    font-size: 16px;
  }
  .connection_wrap .request div button{
    font-size: 16px;
    line-height: 30px;
    padding: 20px 50px;
  }
  footer .footer_wrap{padding: 0 30px;}
  footer .footer_wrap nav{float: left;}
  footer .footer_wrap nav ul{
    list-style: none;
    padding: 22px 0;
  }
  footer .footer_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  footer .footer_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu>li>a{padding: 0 20px 0 0;}
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {color: #2DB1E4;}
  footer .footer_wrap .media div{padding: 22px 0;}
  footer .footer_wrap .media a{padding-left: 20px;}
  footer .footer_wrap div p{padding: 22px 0;}  
} 
    
@media(min-width: 375px) and (max-width: 759px){
  h3{
    font-size: 21px;
    line-height: 35px; 
  }
  a, p, ul, li, span{
    font-size: 14px;
    line-height: 20px;
  }  
  .hamburger-menu{display: block;}
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }  
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }  
  header .menu_wrap nav{display: none;}  
  .connection_wrap{padding: 0 20px;}
  .connection_wrap .map{height: 390px;}
  .connection_wrap .connection_text h3{padding: 15px 0;}
  .connection_wrap .connection_text div{
    padding: 30px 0 ;
    margin-left: 0;
  }
  .connection_wrap .map{
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .connection_wrap .connection_text{
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .connection_wrap .request{
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .connection_wrap .connection_text h3{padding: 8px 0;}
  .connection_wrap .connection_text div{
    padding: 20px 0 ;
    margin: 0;
  }
  .connection_wrap .request div{
    padding-bottom: 0;
    margin: 0;
  }
  .connection_wrap .request h3{padding: 23px 0;}
  .connection_wrap .request textarea,
  .connection_wrap .request input[type="email"],
  .connection_wrap .request input[type="text"]{
    padding: 15px 0;
    font-size: 16px;
  }
  .connection_wrap .request label{
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
  }
  .connection_wrap .request div button{
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 0;
  }
  footer .footer_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    padding: 0 20px;
  }  
  footer .footer_wrap div > nav{display: none;}
  footer .footer_wrap .media{
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
  }  
  footer .footer_wrap .media div{padding: 18px 0;}
  footer .footer_wrap .media div a{padding: 0 20px;}
  footer .footer_wrap div p{padding: 18px 0;}
  footer .footer_wrap div:nth-child(3){
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    border-bottom: none;
  }  
  footer .footer_wrap div:nth-child(4){
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    border-bottom: none;
  }  
}