*{
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none; /*чтобы автоматически НЕ изменять размеры шрифтов при изменении ориентации устройства*/
}
@keyframes Animation_Group{
  0% {
    fill: #FFFFFF;
    }
  50%{
    fill: #2DB1E4;
    }
  100%{
    fill: red;
  }
}
@keyframes Animation_Slogan{
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-150%);
  }
}
.zero{
  padding: 0 10px 0 10px;
  background-color: black;
  overflow: hidden;
}
h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;  
}
h4{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
}
a, p, ul, li, span{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
}
a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
a:hover {
  background-size: 100% 2px;
}
button{
  cursor: pointer;
  background-color: #FFFFFF;
  color: rgba(73, 76, 84, 1);
  box-shadow: 0 0 20px #415360 inset;
}
div button:hover{
  color: #2DB1E4;
  background-color: #F7F5F3;
  box-shadow: 0 0 20px #2DB1E4 inset;
}
.wrap{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  padding: 110px 120px;
}
header{
  position: relative;
  background: #2F323B;
}
main{
  background-color: white;
}
.thumb_wrap{
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb_wrap iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
header .menu{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2F323B;
}
header .menu_wrap{
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  padding: 30px;
}
header .menu_wrap svg{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
header .menu_wrap svg path{
  fill: #FFFFFF;
  animation: Animation_Group 5s infinite;
}
header .menu_wrap nav{
  padding: 50px 0;
} 

/* MENU/CTART */

header .menu_wrap nav ul{
  list-style: none;
}
header .menu_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
header .menu_wrap .topmenu>li>a{
  padding: 0 20px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}
header .menu_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}
header .menu_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}
/* MENU/END */

.slogan{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: #2F323B;
  overflow: hidden;
}
.slogan p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
  animation: Animation_Slogan 15s infinite linear;
}
.slogan ul{
  display: none;
}

.about{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.about_wrap{
  padding: 110px 360px 110px 120px;
}
.about_wrap p{
  font-size: 33px;
  line-height: 45px;
  padding-bottom: 30px;
}
.about_wrap a{
  text-decoration: underline;
}

.project{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}  
.project .wrap{
  grid-template-rows: minmax(1px, 400px);
  grid-row-gap: 40px;
  padding: 110px 120px;
}
.project .wrap div h3{
  padding-bottom: 50px;
}
.project .wrap div h4{
  padding: 40px 0 30px 40px;
}
.project .wrap div p{
  padding: 0 20px 10px 0;
}
.project .wrap div img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
.project .wrap div button{
  padding: 15px 30px;
  margin: 50px 0 40px 40px;
}
.project .wrap div button a{
  text-decoration: none;
}
.project .wrap div span{
  color: rgba(72, 75, 82, 0.6);
  padding: 50px 20px 10px 40px;
}
.project .wrap div:nth-child(3),
.project .wrap div:nth-child(4),
.project .wrap div:nth-child(5),
.project .wrap div:nth-child(6),
.project .wrap div:nth-child(7),
.project .wrap div:nth-child(8){
  background: #FAF9F7;
}
.project .wrap div:nth-child(3) p,
.project .wrap div:nth-child(5) p,
.project .wrap div:nth-child(7) p{
  color: rgba(47, 50, 59, 0.6);
  padding: 0 40px;
  background: #FAF9F7;
}

.life .wrap{
  padding-bottom: 0;
}
.life .wrap div p{
  padding-bottom: 40px;
}
.life .wrap div a{
  text-decoration: underline;
}
.life .wrap div a:hover{
  color: #2DB1E4;
}

.control{
	display: grid;
	grid-template-columns: 50px 1fr 50px 50px;
	grid-template-rows: auto;
	justify-items: center;
  align-items: center;
}
.carousel_wrap .control a{
  text-decoration: none;
}
.carousel_wrap{
	height: 740px;
	position: relative;
  padding: 0 120px;
	margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.carousel_wrap img{
	width: 100%; 
	height: 100%; 
	object-fit: contain;
 }
.carousel_item{
  height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 120px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
[id^="item"] {
  display: none;
}
.item_1 {
  z-index: 2;
  opacity: 1;
}
*:target ~ .item_1 {
  opacity: 0;
}
#item_1:target ~ .item_1 {
  opacity: 1;
}
#item_2:target ~ .item_2, 
#item_3:target ~ .item_3,
#item_4:target ~ .item_4,
#item_5:target ~ .item_5,
#item_6:target ~ .item_6{
  z-index: 3;
  opacity: 1;
}

.advantages{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.advantages .wrap{
  padding: 110px 120px 70px 120px;
}
.advantages .wrap div{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.advantages .wrap div h3{
  padding-bottom: 180px;
}
.advantages .wrap div h4{
  padding: 40px 80px 24px 0;
}
.advantages .wrap div img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
  padding: 40px 0;
}
.advantages .wrap .container_img{
  border: none;
}
.advantages .wrap div:nth-child(9),
.advantages .wrap div:nth-child(10){
  border: none;
}

.partners .wrap div{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.partners .wrap p{
  color: rgba(47, 50, 59, 0.6);
  padding: 45px 0;
}
.partners .wrap .partners_text{
  padding: 0 0 110px 0;
}
.partners .wrap .partners_link{
  border: none;
}
.partners .wrap div:nth-child(4){
  padding-top: 47.5px;
}
.partners .wrap div:nth-child(6){
  padding-top: 24px;
}
.partners .wrap div:nth-child(8){
  padding-top: 38px;
}
.partners .wrap div button{
  padding: 15px 30px;
  margin-top: 30px;
}

.connection{
  background: #2F323B;
}  
.connection .wrap{
  padding: 110px 120px;
}.connection .wrap div h3{
  color: #F7F5F3;
}
.connection .wrap div span{
  color: #F7F5F3;
  opacity: 0.5;
}  
.connection .wrap div a{
  color: #F7F5F3;
  float: right;
  text-decoration: none;
}  
.connection .wrap div a:hover{
  color: #2DB1E4;
}
.connection .wrap .connection_text div{
  padding: 30px 0;
  border-bottom: 1px solid rgba(247, 245, 243, 0.2);
}  
.connection .wrap .connection_text div:last-child{
  border-bottom: none;
}

footer{
  background: #2F323B;
  border-top: 1px solid rgba(247, 245, 243, 0.2);
}
footer .footer_wrap{
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: auto;
  padding: 0 120px 0 120px;
}
footer .footer_wrap div{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_wrap nav{
  float: left;
}
footer .footer_wrap nav ul{
  list-style: none;
  padding: 60px 0 60px 0;
}
footer .footer_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
footer .footer_wrap .topmenu>li>a{
  padding-right: 40px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}
footer .footer_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}
footer .footer_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}
footer .media{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_wrap .media div{
  padding: 60px 0;
  float: right;
  align-self: right;
  border: none;
}
footer .footer_wrap .media a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 24.61px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 40px;
}
footer .footer_wrap .media a:hover{
  color: #2DB1E4;
}
footer .footer_wrap div p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
}
footer .footer_wrap div:last-child p{
  float: right;
}
footer .footer_wrap div:last-child p a{
  color: #F7F5F3;
  text-decoration: none;
}
footer .footer_wrap div:last-child p a:hover{
  color: #2DB1E4;
}

/* гамбургер */
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2DB1E4;

}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 27px;
  line-height: 25px;
  color:#2F323B;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
 transition-duration: .25s;
}
.menu__box {
 transition-duration: .25s;
}
.menu__item {
 transition-duration: .25s;
}
/* гамбургер. конец */

@media(min-width: 1440px){
  header .menu_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  header .menu_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  header .menu_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  header .menu_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  header .menu_wrap .topmenu li a:hover{
    color: #2DB1E4;
  }
  header .menu_wrap .topmenu li:nth-child(5){
    display: none;
  }
  .hamburger-menu{
    display: none;
  }
  footer .footer_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  footer .footer_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {
    color: #2DB1E4;
  }
}

@media(min-width: 960px) and (max-width: 1439px){
  h3{
    font-size: 25px;
    line-height: 45px; 
  }
  h4{
    line-height: 25px;
  }
  a, p, ul, li, span{
    font-size: 21px;
    line-height: 25px;
  }  
  header .menu_wrap{
    grid-template-columns: 108px 1fr;
    padding: 30px;
  }
  header .menu_wrap nav{
    padding: 50px 0 0 0;
  }
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }
  header .menu_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  header .menu_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  header .menu_wrap .topmenu>li>a{
    padding: 0 15px 0 15px;
    font-size: 16px;
    line-height: 19px;
  }
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  header .menu_wrap .topmenu li a:hover{
    border: 2px solid #FFFFFF;
    transform: scale(1);
  }
  header .menu_wrap .topmenu li:last-child{
    display: block;
  }
  .hamburger-menu{
    display: none;
  }
  .slogan p{
    font-size: 24px;
    line-height: 26px;
    padding: 15px 0;
  }
  .about_wrap{
    padding: 80px;
  }
  .about .about_wrap p{
    font-size: 25px;
    line-height: 35px;
  }
  .about .about_wrap a{
    font-size: 16px;
  }
  
  .project .wrap{
    grid-row-gap: 30px;
    padding: 80px;
  }
  .project .wrap div h3{
    font-size: 25px;
    padding-bottom: 40px;
  }
  .project .wrap div h4{
    padding: 20px 30px;
  }
  .project .wrap div button{
    padding: 15px 30px;
    border: 2px solid #2F323B;
    margin: 10px 30px 0 30px;
  }
  .project .wrap div span{
    font-size: 16px;
    padding: 0;
  }
  .project .wrap div:nth-child(3) p,
  .project .wrap div:nth-child(5) p,
  .project .wrap div:nth-child(7) p{
    font-size: 16px;
    line-height: 25px;
    padding: 0 10px 0 30px;
  }
  .project .wrap div:nth-child(3){
    grid-column: 2;
    grid-row: 2;
  }
  .project .wrap div:nth-child(4){
    grid-column: 1;
    grid-row: 2;
  }
  .project .wrap div:nth-child(5){
    grid-column: 2;
    grid-row: 3;
  }
  .project .wrap div:nth-child(6){
    grid-column: 1;
    grid-row: 3;
  }
  .project .wrap div:nth-child(7){
    grid-column: 2;
    grid-row: 4;
  }
  .project .wrap div:nth-child(8){
    grid-column: 1;
    grid-row: 4;
  }

  .life .wrap{
    padding: 50px 80px 0 80px;
  }
  .life .wrap div h3{
    font-size: 80px;
    line-height: 70px;
  }
  .life .wrap div p{
    padding: 30px 0;
  }
  .life .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
  }
  .life .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
  }

  .carousel_wrap{
    height: 540px;
    padding: 0 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .carousel_item{
    height: 410px;
    padding: 0 80px;
    text-align: center;
  }

  .advantages .wrap{
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 80px;
  }
  .advantages .wrap div{
    border-bottom: none;
    background: #F7F5F3;
  }
  .advantages .wrap div h3{
    padding: 20px 0 220px 20px;
  }
  .advantages .wrap div h4{
    padding: 30px 0 0 20px;
  }
  .advantages .wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
  }
  .advantages .wrap div img{
    padding: 0;
  }

  .partners .wrap{
    padding: 80px;
  }
  .partners .wrap div h3{
    font-size: 25px;
    padding: 0 0 0 20px;
  }
  .partners .wrap div p{
    font-size: 16px;
    line-height: 25px;
  }
  .partners .wrap .partners_text{
    font-size: 16px;
    line-height: 25px;
    padding: 0 0 80px 0;
  }
  .partners .wrap div button{
    margin-top: 40px;
  }

  .connection .wrap{
    padding: 80px;
  }
  .connection .wrap .connection_text div{
    padding: 17.5px 0;
  }
  
  footer .footer_wrap{
    padding: 0 80px;
  }
  footer .footer_wrap nav{
    float: left;
  }
  footer .footer_wrap nav ul {
    list-style: none;
    padding: 22px 0;
  }
  footer .footer_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  footer .footer_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu>li>a{
    padding: 0 40px 0 0;
    font-size: 16px;
    line-height: 19px;
  }
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {
    color: #2DB1E4;
  }
  footer .footer_wrap .media div{padding: 22px 0;}
  footer .footer_wrap .media a{
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
  }
  footer .footer_wrap div p{
    font-size: 16px;
    padding: 22px 0;
  }
}
@media(min-width: 760px) and (max-width: 959px){
  h3{
    font-size: 21px;
    line-height: 35px; 
  }
  h4{
    font-size: 21px;
    line-height: 30px;
  }
  a, p, ul, li, span{
    font-size: 16px;
    line-height: 25px;
  }  
  .hamburger-menu{
    display: block;
  }
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }
  header .menu_wrap nav{
    display: none;
  }
  .slogan{
    height: 100px;
  }
  .slogan p{
    display: none;
  }
  .slogan ul{
    display: block;
    list-style: none;
    margin: auto;  
  }
  .slogan ul a{
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .slogan ul a:hover{
    color: #2DB1E4;}
  .about_wrap{padding: 60px 30px;
  }
  .about .about_wrap p{
    font-size: 21px;
    line-height: 30px;
  }
  .project .wrap{
    grid-row-gap: 30px;
    padding: 40px 30px;
  }
  .project .wrap div h3{
    padding: 0 0 20px 20px ;
  }
  .project .wrap div h4{
    padding: 20px;
  }
  .project .wrap div p{
    font-size: 16px;
    line-height: 25px;
    padding: 20px;
  }
  .project .wrap div a{
    font-size: 14px;
  }
  .project .wrap div button{
    padding: 15px 30px;
    margin: 10px 30px 0 30px;
  }
  .project .wrap div span{
    display: none;
  }
  .project .wrap div:nth-child(3) p,
  .project .wrap div:nth-child(5) p,
  .project .wrap div:nth-child(7) p{
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px 0 20px;
  }
  .project .wrap div:nth-child(3){
    grid-column: 2;
    grid-row: 2;
  }
  .project .wrap div:nth-child(4){
    grid-column: 1;
    grid-row: 2;
  }
  .project .wrap div:nth-child(5){
    grid-column: 2;
    grid-row: 3;
  }
  .project .wrap div:nth-child(6){
    grid-column: 1;
    grid-row: 3;
  }
  .project_wrap div:nth-child(7){
    grid-column: 2;
    grid-row: 4;
  }
  .project .wrap div:nth-child(8){
    grid-column: 1;
    grid-row: 4;
  }

  .life .wrap{
    padding: 40px 40px 0 40px;
  }
  .life .wrap div h3{
    font-size: 70px;
    line-height: 60px;
  }
  .life .wrap div p{
    padding: 20px;
  }
  .life .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
  }
  .life .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
  }

  .carousel_wrap{
    height: 500px;
    padding: 0 30px;
  }
  .carousel_item{
    height: 410px;
    padding: 0 30px;
    text-align: center;
  }

  .advantages .wrap{
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 40px 30px;
  }
  .advantages .wrap div{
    border-bottom: none;
    background: #F7F5F3;
  }
  .advantages .wrap div h3{
    padding: 20px 0 100px 20px;
  }
  .advantages .wrap div h4{
    padding: 20px 20px 0 20px;
  }
  .advantages .wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
  }
  .advantages .wrap div img{
    padding: 0;
  }

  .partners .wrap{
    padding: 40px 30px;
  }
  .partners .wrap div h3{
    font-size: 25px;
    padding: 0 0 0 20px;
  }
  .partners .wrap div p{
    font-size: 16px;
    line-height: 25px;
  }
  .partners .wrap div button{
    margin-top: 45px;
  }
  .partners .wrap div button a{
    font-size: 16px;
    line-height: 20px;
  }
  .partners .wrap .partners_text{
    font-size: 16px;
    line-height: 25px;
    padding: 0 0 80px 0;
  }

  .connection .wrap{
    padding: 60px 30px;
  }
  .connection .wrap .connection_text div{
    padding: 15px 0;
  }
  
  footer .footer_wrap{
    padding: 0 30px;
  }
  footer .footer_wrap nav{
    float: left;
  }
  footer .footer_wrap nav ul{
    list-style: none;
    padding: 22px 0;
  }
  footer .footer_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  footer .footer_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu>li>a{
    padding: 0 20px 0 0;
    font-size: 16px;
    line-height: 19px;
  }
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {
    color: #2DB1E4;
  }
  footer .footer_wrap .media div{padding: 22px 0;}
  footer .footer_wrap .media a{
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
  }
  footer .footer_wrap div p{
    font-size: 16px;
    padding: 22px 0;
  }
}
@media(min-width: 375px) and (max-width: 759px){
  h3{
    font-size: 21px;
    line-height: 35px; 
  }
  h4{
    font-size: 16px;
    line-height: 25px; 
  }
  a, p, ul, h4, li, span{
    font-size: 14px;
    line-height: 20px;
  }
  .wrap{
    padding: 30px;
  }
  .hamburger-menu{
    display: block;
  }
  .thumb_wrap{
    padding-bottom: 75%;
  }
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }
  header .menu_wrap nav{
    display: none;
  }
  .slogan{
    height: 66px;
  }
  .slogan p{
    display: none;
  }
  .slogan ul{
    display: block;
    list-style: none;
    margin: auto;  
  }
  .slogan ul a{
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .slogan ul a:hover{
    color: #2DB1E4;
  }
  .about_wrap{
    padding: 20px;
  }
  .about .about_wrap p{
    font-size: 21px;
    line-height: 30px;
    padding: 0;
  }
  .project .wrap{
    grid-row-gap: 0;
    padding: 20px;}
  .project .wrap div h3{
    padding-bottom: 20px;
  }
  .project .wrap div h4{
    font-size: 21px;
    line-height: 20px;
    padding: 20px 0;
  }
  .project .wrap div p{
    padding: 0;
  }
  .project .wrap div a{
    font-size: 14px;
  }
  .project .wrap div button{
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 0;
    margin: 20px 0 0 0;
  }
  .project .wrap div span{
    display: none;
  }
  .project .wrap div:nth-child(3) p,
  .project .wrap div:nth-child(5) p,
  .project .wrap div:nth-child(7) p{
    padding: 0 10px 0 0;
  }
  .project .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .project .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-top: 20px;
  }
  .project .wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .project .wrap div:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-top: 20px;
  }
  .project .wrap div:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 6;
  }
  .project .wrap div:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 5;
    padding-top: 20px;
  }
  .project .wrap div:nth-child(7){
    grid-column: 1 / span 2;
    grid-row: 8;
  }
  .project .wrap div:nth-child(8){
    grid-column: 1 / span 2;
    grid-row: 7;
    padding-top: 20px;
  }

  .life .wrap{
    padding: 30px;
  }
  .life .wrap div h3{
    font-size: 36px;
    line-height: 35px;
  }
  .life .wrap div p{
    font-size: 16px;
    line-height: 25px;
    padding: 20px 0;
  }
  .life .wrap div a{
    font-size: 16px;
    line-height: 25px;
  }
  .life .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
  }
  .life .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .carousel_wrap{
    height: 435px;
    padding: 0 20px;
  }
  .carousel_item{
    height: 375px;
    padding: 0 20px;
    text-align: center;
  }

  .advantages .wrap{
    padding: 20px;
  }
  .advantages .wrap div h3{
    font-size: 21px;
    padding: 0;
  }
  .advantages .wrap div h4{
    font-size: 21px;
    line-height: 20px;
    padding: 20px 0 0 0;
  }
  .advantages .wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
  }
  .advantages .wrap div{
    border-bottom: none;
  }
  .advantages .wrap div img{
    padding: 0;
  }
  .advantages .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .advantages .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .advantages .wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .advantages .wrap div:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .advantages .wrap div:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 6;
  }
  .advantages .wrap div:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 5;
  }
  .advantages .wrap div:nth-child(7){
    grid-column: 1 / span 2;
    grid-row: 8;
  }
  .advantages .wrap div:nth-child(8){
    grid-column: 1 / span 2;
    grid-row: 7;
  }
  .advantages .wrap div:nth-child(9){
    grid-column: 1 / span 2;
    grid-row: 11;
  }
  .advantages .wrap div:nth-child(10){
    grid-column: 1 / span 2;
    grid-row: 10;
  }

  .partners .wrap{
    padding: 20px;
  }
  .partners .wrap div h3{
    padding: 0;
  }
  .partners .wrap div p{
    padding: 20px 0;
  }
  .partners .wrap .partners_text{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
  }
  .partners .wrap div:nth-child(10){
    display: none;
  }
  .partners .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    border-bottom: none;
  }
  .partners .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .partners .wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 4;
    justify-self: center;
  }
  .partners .wrap div:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3;
    padding: 20px 0;
    justify-self: center;
    border-bottom: none;
  }
  .partners .wrap div:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 6;
    padding: 0;
    justify-self: center;
  }
  .partners .wrap div:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 5;
    padding: 20px 0;
    justify-self: center;
    border-bottom: none;
  }
  .partners .wrap div:nth-child(7){
    grid-column: 1 / span 2;
    grid-row: 8;
    justify-self: center;
  }
  .partners .wrap div:nth-child(8){
    grid-column: 1 / span 2;
    grid-row: 7;
    padding: 20px 0;
    justify-self: center;
    border-bottom: none;
  }
  .partners .wrap div:nth-child(9){
    grid-column: 1 / span 2;
    grid-row: 9;
    justify-self: center;
    border-bottom: none;
  }

  .connection .wrap{
    padding: 30px;
  }
  .connection .wrap .connection_text div{
    padding: 23px 0;
    border-bottom: 1px solid rgba(247, 245, 243, 0.2);
  }  
  .connection .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
  }  
  .connection .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  
  footer .footer_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    padding: 0 20px 0 20px;
  }

  footer .footer_wrap div > nav{display: none;}
  footer .footer_wrap .media{
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
  }
  footer .footer_wrap .media div{
    padding: 18px 0;
  }
  footer .footer_wrap .media div a{
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
  }
  footer .footer_wrap div p{
    font-size: 14px;
    line-height: 40px;
    padding: 18px 0;
  }
  footer .footer_wrap div:nth-child(3){
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    border-bottom: none;
  }
  footer .footer_wrap div:nth-child(4){
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    border-bottom: none;
  }
}