*{
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none; /*чтобы автоматически НЕ изменять размеры шрифтов при изменении ориентации устройства*/
}
@keyframes Animation_Group{
  0% {
    fill: #FFFFFF;
    }
  50%{
    fill: #2DB1E4;
    }
  100%{
    fill: red;
  }
}
@keyframes Animation_Slogan{
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-150%);
  }
}


.zero{
  padding: 0 10px 0 10px;
  background-color: black;
  overflow: hidden;
}
header{
  position: relative;
  background: #2F323B;
}
main{
  background-color: white;
}
.thumb_wrap{
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb_wrap iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
header .menu{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2F323B;
}
header .menu_wrap{
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  padding: 30px;
}
header .menu_wrap svg{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
header .menu_wrap svg path{
  fill: #FFFFFF;
  animation: Animation_Group 5s infinite;
}
header .menu_wrap nav{
  padding: 50px 0;
} 

/* MENU/CTART */

header .menu_wrap nav ul{
  list-style: none;
}
header .menu_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
header .menu_wrap .topmenu>li>a{
  padding: 0 20px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}
header .menu_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}
header .menu_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}
/* MENU/END */

.slogan{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: #2F323B;
  overflow: hidden;
}
.slogan p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
  animation: Animation_Slogan 15s infinite linear;
}
.slogan ul{display: none;}

.about{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.about_wrap{padding: 120px 360px 114px 120px;}
.about .about_wrap p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 45px;
  color: #2F323B;
  padding-bottom: 30px;
}
.about .about_wrap a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 35px;
  color: #2F323B;
}
.about .about_wrap a:hover{color: #2DB1E4;}
.project{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}  
.project_wrap{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: minmax(1px, 400px);
  grid-row-gap: 40px;
  padding: 120px 120px 0 120px;
}
.project_wrap div h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;
  padding-bottom: 50px;
}
.project_wrap div h4{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 35px;
  color: #2F323B;
  padding: 40px 0 30px 40px;
}
.project_wrap div p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  padding: 0 20px 10px 0;
}
.project_wrap div a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
}
.project_wrap div a:hover{color: #2DB1E4;}
.project_wrap div img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
.project_wrap div button{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  cursor: pointer;
  background-color: white;
  padding: 15px 30px;
  border: 2px solid #2F323B;
  margin: 50px 0 40px 40px;
}
.project_wrap div button a{
  text-decoration: none;
}
.project_wrap div button a:hover{color: #2DB1E4;}
.project_wrap div span{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: rgba(72, 75, 82, 0.6);
  padding: 50px 20px 10px 40px;
}
.project_wrap div:nth-child(3),
.project_wrap div:nth-child(4),
.project_wrap div:nth-child(5),
.project_wrap div:nth-child(6),
.project_wrap div:nth-child(7),
.project_wrap div:nth-child(8){
  background: #FAF9F7;
}
.project_wrap div:nth-child(3) p,
.project_wrap div:nth-child(5) p,
.project_wrap div:nth-child(7) p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: rgba(47, 50, 59, 0.6);
  padding: 0 90px 0 40px;
  background: #FAF9F7;
}
.project_link{
  padding: 50px 0 100px 120px;
}
.project_link a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 35px;
  color: #2F323B;
}
.project_link a:hover{color: #2DB1E4;}
.life_wrap{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  padding: 100px 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.life_wrap div h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;
  padding-bottom: 250px;
}
.life_wrap div p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  padding-bottom: 40px;
}
.life_wrap div a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
}
.life_wrap div a:hover{color: #2DB1E4;}
.life_wrap div:last-child{
  grid-column: 1 / span 2;
  grid-row: 2;
}
.life_wrap div:nth-child(3) img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
.advantages{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.advantages_wrap{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  padding: 100px 120px;
}
.advantages_wrap div{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.advantages_wrap div h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;
  padding-bottom: 180px;
}
.advantages_wrap div h4{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 35px;
  color: #000000;
  padding: 40px 80px 24px 0;
}
.advantages_wrap div p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
}
.advantages_wrap div img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
  padding: 40px 0;
}
.advantages_wrap .container_img{border: none;}
.advantages_wrap div:nth-child(9),
.advantages_wrap div:nth-child(10){
  border: none;
}
.partners_wrap{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  padding: 110px 120px;
}
.partners_wrap div{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.partners_wrap div h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;
}
.partners_wrap div p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: rgba(47, 50, 59, 0.6);
  padding: 45px 0 45px 0;
}
.partners_wrap .partners_text{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  padding-bottom: 110px;
}
.partners_wrap .partners_link{
  border: none;
}
.partners_wrap div:nth-child(4){
  padding-top: 47.5px;
}
.partners_wrap div:nth-child(6){
  padding-top: 24px;
}
.partners_wrap div:nth-child(8){
  padding-top: 38px;
}
.partners_wrap div button{
  cursor: pointer;
  background-color: white;
  padding: 15px 30px;
  border: 2px solid #2F323B;
  margin-top: 25px;
}
.partners_wrap div button a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  text-decoration: none;
}
.partners_wrap div button a:hover{color: #2DB1E4;}
.connection{
  background: #2F323B;
}
.connection_wrap{
  display: grid;
  grid-template-columns:  1fr 1fr; 
  grid-template-rows: auto;
  padding: 110px 120px;
}
.connection_wrap div h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 32px;
  line-height: 35px;
  color: #F7F5F3;
}
.connection_wrap div span{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #F7F5F3;
  opacity: 0.5;
}
.connection_wrap div a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #F7F5F3;
  float: right;
  text-decoration: none;
}
.connection_wrap div a:hover{color: #2DB1E4;}
.connection_wrap .connection_text div{
  padding: 30px 0;
  border-bottom: 1px solid rgba(247, 245, 243, 0.2);
}
.connection_wrap .connection_text div:last-child{border-bottom: none;}
footer{
  background: #2F323B;
  border-top: 1px solid rgba(247, 245, 243, 0.2);
}
footer .footer_wrap{
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: auto;
  padding: 0 120px 0 120px;
}
footer .footer_wrap div{border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
footer .footer_wrap nav{float: left;}
footer .footer_wrap nav ul{
  list-style: none;
  padding: 60px 0 60px 0;
}
footer .footer_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
footer .footer_wrap .topmenu>li>a{
  padding-right: 40px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}
footer .footer_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}
footer .footer_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}
footer .media{border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
footer .footer_wrap .media div{
  padding: 60px 0;
  float: right;
  align-self: right;
  border: none;
}
footer .footer_wrap .media a{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 24.61px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 40px;
}
footer .footer_wrap .media a:hover{color: #2DB1E4;}
footer .footer_wrap div p{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
}
footer .footer_wrap div:last-child p{
  float: right;
}
footer .footer_wrap div:last-child p a{
  color: #F7F5F3;
  text-decoration: none;
}
footer .footer_wrap div:last-child p a:hover{  color: #2DB1E4;}

/* гамбургер */
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2DB1E4;

}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 27px;
  line-height: 25px;
  color:#2F323B;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
 transition-duration: .25s;
}
.menu__box {
 transition-duration: .25s;
}
.menu__item {
 transition-duration: .25s;
}
/* гамбургер. конец */

@media(min-width: 1440px){
  header .menu_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  header .menu_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  header .menu_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  header .menu_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  header .menu_wrap .topmenu li a:hover{
    color: #2DB1E4;
  }
  header .menu_wrap .topmenu li:last-child{display: none;}
  .hamburger-menu{display: none;}
  footer .footer_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  footer .footer_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {
    color: #2DB1E4;
  }
}
@media(min-width: 960px) and (max-width: 1439px){
  header .menu_wrap{
    grid-template-columns: 108px 1fr;
    padding: 30px;
  }
  header .menu_wrap nav{
    padding: 50px 0 0 0;
  }
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }
  header .menu_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  header .menu_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  header .menu_wrap .topmenu>li>a{
    padding: 0 15px 0 15px;
    font-size: 16px;
    line-height: 19px;
  }
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  header .menu_wrap .topmenu li a:hover{
    border: 2px solid #FFFFFF;
    transform: scale(1);
  }
  header .menu_wrap .topmenu li:last-child{display: block;}
  .hamburger-menu{
    display: none;
  }
  .slogan p{
    font-size: 24px;
    line-height: 26px;
    padding: 15px 0;
  }
  .about_wrap{padding: 80px;}
  .about .about_wrap p{
    font-size: 25px;
    line-height: 35px;
  }
  .about .about_wrap a{font-size: 16px;}
  .project_wrap{
    grid-row-gap: 30px;
    padding: 80px 80px 0 80px;
  }
  .project_wrap div h3{
    font-size: 25px;
    padding-bottom: 40px;
  }
  .project_wrap div h4{
    font-size: 21px;
    line-height: 35px;
    padding: 20px 30px;
  }
  .project_wrap div p{
    font-size: 16px;
    line-height: 25px;
  }
  .project_wrap div a{font-size: 16px;}
  .project_wrap div button{
    padding: 15px 30px;
    border: 2px solid #2F323B;
    margin: 10px 30px 0 30px;
  }
  .project_wrap div span{
    font-size: 16px;
    padding: 0;
  }
  .project_wrap div:nth-child(3) p,
  .project_wrap div:nth-child(5) p,
  .project_wrap div:nth-child(7) p{
    font-size: 16px;
    line-height: 25px;
    padding: 0 10px 0 30px;
  }
  .project_link{
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }
  .project_link a{
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    border: 2px solid #2F323B;
    padding: 15px 50px;
  }
  .project_wrap div:nth-child(3){
    grid-column: 2;
    grid-row: 2;
  }
  .project_wrap div:nth-child(4){
    grid-column: 1;
    grid-row: 2;
  }
  .project_wrap div:nth-child(5){
    grid-column: 2;
    grid-row: 3;
  }
  .project_wrap div:nth-child(6){
    grid-column: 1;
    grid-row: 3;
  }
  .project_wrap div:nth-child(7){
    grid-column: 2;
    grid-row: 4;
  }
  .project_wrap div:nth-child(8){
    grid-column: 1;
    grid-row: 4;
  }
  .life_wrap{padding: 50px 80px;}
  .life_wrap div h3{
    font-size: 80px;
    line-height: 70px;
    padding-bottom: 10px;
  }
  .life_wrap div p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 30px;
  }
  .life_wrap div a{
    font-size: 16px;
    line-height: 25px;
  }
  .life_wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .life_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .life_wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .advantages_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 80px;
  }
  .advantages_wrap div{
    border-bottom: none;
    background: #F7F5F3;
  }
  .advantages_wrap div h3{
    font-size: 25px;
    padding: 20px 0 220px 20px;
  }
  .advantages_wrap div h4{
    font-size: 21px;
    line-height: 28px;
    padding: 30px 0 0 20px;
  }
  .advantages_wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
  }
  .advantages_wrap div img{padding: 0;}
  .partners_wrap{padding: 80px;}
  .partners_wrap div h3{
    font-size: 25px;
    padding: 0 0 0 20px;
  }
  .partners_wrap div p{
    font-size: 16px;
    line-height: 25px;
  }
  .partners_wrap .partners_text{
    font-size: 16px;
    line-height: 25px;
    padding: 0 0 80px 0;
  }
  .partners_wrap div button{margin-top: 25px;}
  .partners_wrap div button a{
    font-size: 16px;
  }
  .connection_wrap{padding: 80px;}
  .connection_wrap div h3{font-size: 25px;}
  .connection_wrap div span{font-size: 16px;}
  .connection_wrap div a{font-size: 16px;}
  .connection_wrap .connection_text div{padding: 22px 0;}
  footer .footer_wrap{padding: 0 80px;}
  footer .footer_wrap nav{float: left;}
  footer .footer_wrap nav ul {
    list-style: none;
    padding: 22px 0;
  }
  footer .footer_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  footer .footer_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu>li>a{
    padding: 0 40px 0 0;
    font-size: 16px;
    line-height: 19px;
  }
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {
    color: #2DB1E4;
  }
  footer .footer_wrap .media div{padding: 22px 0;}
  footer .footer_wrap .media a{
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
  }
  footer .footer_wrap div p{
    font-size: 16px;
    padding: 22px 0;
  }
}
@media(min-width: 760px) and (max-width: 959px){
  .hamburger-menu{display: block;}
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }
  header .menu_wrap nav{display: none;}
  .slogan{height: 100px;}
  .slogan p{display: none;}
  .slogan ul{
    display: block;
    list-style: none;
    margin: auto;  
  }
  .slogan ul a{
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .slogan ul a:hover{color: #2DB1E4;}
  .about_wrap{padding: 60px 30px;}
  .about .about_wrap p{
    font-size: 21px;
    line-height: 30px;
  }
  .project_wrap{padding: 40px 30px;}
  .project_wrap div h3{
    font-size: 21px;
    padding-bottom: 20px;
  }
  .project_wrap div h4{
    font-size: 21px;
    line-height: 20px;
    padding: 20px;
  }
  .project_wrap div p{
    font-size: 14px;
    line-height: 20px;
  }
  .project_wrap div a{font-size: 14px;}
  .project_wrap div button{
    padding: 15px 30px;
    margin: 10px 30px 0 30px;
  }
  .project_wrap div span{display: none;}
  .project_wrap div:nth-child(3) p,
  .project_wrap div:nth-child(5) p,
  .project_wrap div:nth-child(7) p{
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px 0 20px;
  }
  .project_link{
    display: flex;
    justify-content: center;
    padding: 0 0 40px 0;
  }
  .project_link a{
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    border: 2px solid #2F323B;
    padding: 15px 35px;
  }
  .project_wrap div:nth-child(3){
    grid-column: 2;
    grid-row: 2;
  }
  .project_wrap div:nth-child(4){
    grid-column: 1;
    grid-row: 2;
  }
  .project_wrap div:nth-child(5){
    grid-column: 2;
    grid-row: 3;
  }
  .project_wrap div:nth-child(6){
    grid-column: 1;
    grid-row: 3;
  }
  .project_wrap div:nth-child(7){
    grid-column: 2;
    grid-row: 4;
  }
  .project_wrap div:nth-child(8){
    grid-column: 1;
    grid-row: 4;
  }
  .life_wrap{padding: 40px 30px;}
  .life_wrap div h3{
    font-size: 70px;
    line-height: 60px;
    padding-bottom: 10px;
  }
  .life_wrap div p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .life_wrap div a{
    font-size: 16px;
    line-height: 25px;
  }
  .life_wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .life_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .life_wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .advantages_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 40px 30px;
  }
  .advantages_wrap div h3{
    font-size: 25px;
    padding: 20px 0 200px 20px;
  }
  .advantages_wrap div h4{
    font-size: 21px;
    line-height: 28px;
    padding: 20px 20px 0 20px;
  }
  .advantages_wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 20px 0 20px;
  }
  .advantages_wrap div img{padding: 0;}
  .partners_wrap{padding: 40px 30px;}
  .partners_wrap div h3{
    font-size: 25px;
    padding: 0 0 0 20px;
  }
  .partners_wrap div p{
    font-size: 16px;
    line-height: 25px;
  }
  .partners_wrap div button{margin-top: 45px;}
  .partners_wrap div button a{
    font-size: 16px;
    line-height: 20px;
  }
  .partners_wrap .partners_text{
    font-size: 16px;
    line-height: 25px;
    padding: 0 0 80px 0;
  }
  .connection_wrap{padding: 40px 30px;}
  .connection_wrap div h3{font-size: 21px;}
  .connection_wrap div span{font-size: 16px;}
  .connection_wrap div a{font-size: 16px;}
  .connection_wrap .connection_text div{padding: 22px 0;}
  footer .footer_wrap{padding: 0 30px;}
  footer .footer_wrap nav{float: left;}
  footer .footer_wrap nav ul{
    list-style: none;
    padding: 22px 0;
  }
  footer .footer_wrap .topmenu {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  footer .footer_wrap .topmenu>li {
    position: relative;
    list-style: none;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu>li>a{
    padding: 0 20px 0 0;
    font-size: 16px;
    line-height: 19px;
  }
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {
    color: #2DB1E4;
  }
  footer .footer_wrap .media div{padding: 22px 0;}
  footer .footer_wrap .media a{
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
  }
  footer .footer_wrap div p{
    font-size: 16px;
    padding: 22px 0;
  }
}
@media(min-width: 375px) and (max-width: 759px){
  .hamburger-menu{display: block;}
  .thumb_wrap{padding-bottom: 75%;}
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }
  header .menu_wrap nav{display: none;}
  .slogan{height: 55px;}
  .slogan p{display: none;}
  .slogan ul{
    display: block;
    list-style: none;
    margin: auto;  
  }
  .slogan ul a{
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .slogan ul a:hover{color: #2DB1E4;}
  .about_wrap{padding: 20px;}
  .about .about_wrap p{
    font-size: 21px;
    line-height: 30px;
  }
  .project_wrap{
    grid-row-gap: 0;
    padding: 20px;}
  .project_wrap div h3{
    font-size: 21px;
    padding-bottom: 20px;
  }
  .project_wrap div h4{
    font-size: 21px;
    line-height: 20px;
    padding: 20px 0;
  }
  .project_wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }
  .project_wrap div a{font-size: 14px;}
  .project_wrap div button{
    padding: 8px 20px;
    margin: 0 0 0 20px;
  }
  .project_wrap div span{display: none;}
  .project_wrap div:nth-child(3) p,
  .project_wrap div:nth-child(5) p,
  .project_wrap div:nth-child(7) p{
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px 0 0;
  }
  .project_link{
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
  }
  .project_link a{
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    border: 2px solid #2F323B;
    padding: 15px 120px;
  }
  .project_wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .project_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-top: 20px;
  }
  .project_wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .project_wrap div:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-top: 20px;
  }
  .project_wrap div:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 6;
  }
  .project_wrap div:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 5;
    padding-top: 20px;
  }
  .project_wrap div:nth-child(7){
    grid-column: 1 / span 2;
    grid-row: 8;
  }
  .project_wrap div:nth-child(8){
    grid-column: 1 / span 2;
    grid-row: 7;
    padding-top: 20px;
  }
  .life_wrap{padding: 30px 20px;}
  .life_wrap div h3{
    font-size: 36px;
    line-height: 35px;
    padding-bottom: 10px;
  }
  .life_wrap div p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .life_wrap div a{
    font-size: 16px;
    line-height: 25px;
  }
  .life_wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .life_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .life_wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .advantages_wrap{
    padding: 20px;
  }
  .advantages_wrap div h3{
    font-size: 21px;
    padding: 0;
  }
  .advantages_wrap div h4{
    font-size: 21px;
    line-height: 20px;
    padding: 20px 0 0 0;
  }
  .advantages_wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
  }
  .advantages_wrap div{border-bottom: none;}
  .advantages_wrap div img{padding: 0;}
  .advantages_wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .advantages_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .advantages_wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .advantages_wrap div:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .advantages_wrap div:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 6;
  }
  .advantages_wrap div:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 5;
  }
  .advantages_wrap div:nth-child(7){
    grid-column: 1 / span 2;
    grid-row: 8;
  }
  .advantages_wrap div:nth-child(8){
    grid-column: 1 / span 2;
    grid-row: 7;
  }
  .advantages_wrap div:nth-child(9){
    grid-column: 1 / span 2;
    grid-row: 11;
  }
  .advantages_wrap div:nth-child(10){
    grid-column: 1 / span 2;
    grid-row: 10;
  }
  .partners_wrap{padding: 20px;}
  .partners_wrap div h3{
    font-size: 21px;
    padding: 0;
  }
  .partners_wrap div p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
  }
  .partners_wrap .partners_text{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
  }
  .partners_wrap div:nth-child(10){display: none;}
  .partners_wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
    border-bottom: none;
  }
  .partners_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .partners_wrap div:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 4;
    justify-self: center;
  }
  .partners_wrap div:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3;
    padding: 20px 0;
    justify-self: center;
    border-bottom: none;
  }
  .partners_wrap div:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 6;
    padding: 0;
    justify-self: center;
  }
  .partners_wrap div:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 5;
    padding: 20px 0;
    justify-self: center;
    border-bottom: none;
  }
  .partners_wrap div:nth-child(7){
    grid-column: 1 / span 2;
    grid-row: 8;
    justify-self: center;
  }
  .partners_wrap div:nth-child(8){
    grid-column: 1 / span 2;
    grid-row: 7;
    padding: 20px 0;
    justify-self: center;
    border-bottom: none;
  }
  .partners_wrap div:nth-child(9){
    grid-column: 1 / span 2;
    grid-row: 9;
    justify-self: center;
    border-bottom: none;
  }
  .connection_wrap{padding: 20px;}
  .connection_wrap div h3{
    font-size: 21px;
    line-height: 35px;
  }
  .connection_wrap div span{
    font-size: 14px;
    line-height: 25px;
  }
  .connection_wrap div a{
    font-size: 14px;
    line-height: 25px;
  }
  .connection_wrap .connection_text div{
    padding: 23px 0;
    border-bottom: 1px solid rgba(247, 245, 243, 0.2);
  }
  .connection_wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .connection_wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  footer .footer_wrap{padding: 20px;}
  footer div:nth-child(1){display: none;}
}