*{
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none; /*чтобы автоматически НЕ изменять размеры шрифтов при изменении ориентации устройства*/
}
.zero{
  padding: 0 10px;
  background-color: black;
}
h1{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 80px;
  line-height: 70px;
  color: rgba(47, 50, 59, 1);
  box-sizing: border-box;
}
h3{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 33px;
  line-height: 35px;
  color: #2F323B;
  box-sizing: border-box;
}
h4{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  box-sizing: border-box;
}
a, p, ul, label, li, span, time{
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 21px;
  line-height: 30px;
  color: #2F323B;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
time{
  color: rgba(47, 50, 59, 0.6);
}
div img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
a:hover{
  color: #2DB1E4;
  background-size: 100% 2px;
}
label:hover
{
  color: #2DB1E4;
}
.wrap{
  display: grid;
  grid-template-columns:  1fr 1fr; 
  grid-template-rows: auto;
  padding: 0 120px;
}
header{
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
main{
  background-color: #FFFFFF;
}  
header .menu_wrap{
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  padding: 30px;
}  
header .menu_wrap svg{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}  
header .menu_wrap svg path{
  fill: #2F323B;
}  
header .menu_wrap nav{
  padding: 50px 0;
}   

/* MENU/CTART */
  
header .menu_wrap nav ul{
  list-style: none;
}
header .menu_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
header .menu_wrap .topmenu>li>a{
  padding: 0 20px;
}  
header .menu_wrap .topmenu li a:hover{
  transform: scale(1.2);
}  
header .menu_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}  

  /* MENU/END */    
 
.about_wrap{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto;
  padding: 0 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.about_wrap div:nth-child(1){
  display: none;
}
.about_wrap div:nth-child(1) h3{
  float: left;
  color: #FFFFFF;
}
.about_wrap div:nth-child(1) p{
  float: right;
  color: rgba(255, 255, 255, 1);
  background: rgba(188, 0, 0, 1);
}
.about_wrap div:nth-child(1) p a{
  color: #FFFFFF;
  text-decoration: none;
}
.about_wrap div:nth-child(1) p a:hover{
  color: #2DB1E4;
}
.about_wrap div:nth-child(2) p{
  font-size: 33px;
  line-height: 45px;
  padding: 80px 348px 60px 120px;
}
.about_wrap div:nth-child(3),
.mobile_connection{
  display: none;
}
.mobile_connection div a{
  text-decoration: none;
}

/*SLIDER_start*/
.slider {
  position: relative;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 110px;
  padding: 0 120px;
  text-align: center;
}
.slider .btn {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  top: 50%;
  background-color: rgba(95, 106, 117, 0.3);
  z-index: 1;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.slider .btn:hover{
  background-color: rgba(95, 106, 117, 0.5);
  cursor: pointer;
}
.slider .btn.next {
  right: 120px;
}
.slider .btn.prev {
  left: 120px;
}
.scroller {
  overflow-y: hidden;
  display: flex;
  height: 600px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.item {
  min-width: 100%;
  scroll-snap-align: center;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}

.location .wrap{
  display: grid;
  grid-template-columns:  repeat(4, 1fr); 
  grid-template-rows: auto;
  padding: 80px 120px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.location .wrap div{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.location .wrap div:last-child{
  border: none;
}

.inside .wrap div{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.inside .wrap div:nth-child(1),
.inside .wrap div:nth-child(2){
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.inside .wrap div h4{
  padding: 40px 0;
  color: rgba(47, 50, 59, 0.6);
}
.inside .wrap div ul{
  padding: 40px 0;
}
.thumb_wrap{
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb_wrap iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.view .wrap{
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 110px 120px;
}
.view .wrap div:nth-child(3){
  grid-column: 1 / span 2;
}

.link .wrap div{
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.link .wrap div:nth-child(1),
.link .wrap div:nth-child(2){
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.link .wrap div h4{
  color: rgba(47, 50, 59, 0.6);
}

.news .wrap{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr; 
  grid-template-rows: auto;
  grid-column-gap: 40px;
  padding: 0 120px 60px 120px;
  position: relative;
}
.news .wrap div:nth-child(1){
  grid-column: 1 / span 3;
}
.news .wrap h3{
  padding: 110px 0;
}
.news_art_01,
.news_art_02,
.news_art_03{
  background: rgba(250, 249, 247, 1);
}
.news_art_01 .text,
.news_art_02 .text,
.news_art_03 .text{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 0 120px;
}
.news_art_01 .text h4,
.news_art_02 .text h4,
.news_art_03 .text h4,
.news_art_01 .text p,
.news_art_02 .text p,
.news_art_03 .text p{
  text-indent: 30px;
  padding: 10px 0;
}
.news_art_01 .read-more-radio_01,
.news_art_02 .read-more-radio_02,
.news_art_03 .read-more-radio_03{
  display: none;
}
.news_art_01 .read-more-radio_01 + label + div,
.news_art_02 .read-more-radio_02 + label + div,
.news_art_03 .read-more-radio_03 + label + div{
  display: none;
}
.news_art_01 .read-more-radio_01:checked + label + div,
.news_art_02 .read-more-radio_02:checked + label + div,
.news_art_03 .read-more-radio_03:checked + label + div{
  display: block;
}
.news_art_01 .read-more-radio_01 + label,
.news_art_02 .read-more-radio_02 + label,
.news_art_03 .read-more-radio_03 + label{
  text-decoration: underline;
  cursor: pointer;
}
.news_art_01 .read-more-radio_01:checked + label,
.news_art_02 .read-more-radio_02:checked + label,
.news_art_03 .read-more-radio_03:checked + label{
  display: none;
}
.news_art_01 .read-more-radio_01 + label + div + input + label,
.news_art_02 .read-more-radio_02 + label + div + input + label,
.news_art_03 .read-more-radio_03 + label + div + input + label{
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.news_art_01 .read-more-radio_01:checked + label + div + input + label,
.news_art_02 .read-more-radio_02:checked + label + div + input + label,
.news_art_0 .read-more-radio_03:checked + label + div + input + label{
  display: block;
}

.map {
  height: 560px;
}
.map iframe{
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
  
.connection{
  background: #2F323B;
}  
.connection .wrap{
  padding: 110px 120px;
}.connection .wrap div h3{
  color: #F7F5F3;
}
.connection .wrap div span{
  color: #F7F5F3;
  opacity: 0.5;
}  
.connection .wrap div a{
  color: #F7F5F3;
  float: right;
  text-decoration: none;
}  
.connection .wrap div a:hover{
  color: #2DB1E4;
}
.connection .wrap .connection_text div{
  padding: 30px 0;
  border-bottom: 1px solid rgba(247, 245, 243, 0.2);
}  
.connection .wrap .connection_text div:last-child{
  border-bottom: none;
}

footer{
  background: #2F323B;
  border-top: 1px solid rgba(247, 245, 243, 0.2);
}  
footer .footer_wrap{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  padding: 0 120px 0 120px;
}  
footer .footer_wrap div{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_wrap nav{
  float: left;
}
footer .footer_wrap nav ul{
  list-style: none;
  padding: 60px 0 60px 0;
}
footer .footer_wrap .topmenu{
  width: 100%;
  display: flex;
  justify-content: right;
}
footer .footer_wrap .topmenu a{
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
footer .footer_wrap .topmenu>li{
  position: relative;
  list-style: none;
}  
footer .footer_wrap .topmenu>li>a{
  padding-right: 40px;
  color: #FFFFFF;
}
footer .footer_wrap .topmenu li a:hover{
  color: #2DB1E4;
  transform: scale(1.2);
}  
footer .footer_wrap .topmenu .submenu li a{
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 16px;
  color: #415360;
}
footer .media{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_wrap .media div{
  padding: 60px 0;
  float: right;
  align-self: right;
  border: none;
}
footer .footer_wrap .media a{
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 40px;
}
footer .footer_wrap .media a:hover{
  color: #2DB1E4;
}  
footer .footer_wrap div p{
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
}
footer .footer_wrap div:last-child p{
  float: right;
}
footer .footer_wrap div:last-child p a{
  color: #F7F5F3;
  text-decoration: none;
}
footer .footer_wrap div:last-child p a:hover{
  color: #2DB1E4;
}

#menu__toggle{
  opacity: 0;
}  
.menu__btn{
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}      
.menu__btn > span::before{
  content: '';
  top: -8px;
}  
.menu__btn > span::after{
  content: '';
  top: 8px;
}  
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}  
.menu__btn > span,
.menu__btn > span::before,  
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2DB1E4;
}  
.menu__btn > span::before{
  content: '';
  top: -8px;
}  
.menu__btn > span::after {
  content: '';
  top: 8px;
}  
.menu__box{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}  
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 27px;
  line-height: 25px;
  color:#2F323B;
  text-decoration: none;
}  
.menu__item:hover{
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span{
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before{
  top: 0;
  transform: rotate(0);
}  
#menu__toggle:checked ~ .menu__btn > span::after{
  top: 0;
  transform: rotate(90deg);
}  
#menu__toggle:checked ~ .menu__box{
  visibility: visible;
  left: 0;
}  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  transition-duration: .25s;
}  
.menu__box{
  transition-duration: .25s;
}
.menu__item{
  transition-duration: .25s;
}  

@media(min-width: 1440px){
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  header .menu_wrap .topmenu > li{
    position: relative;
    list-style: none;
  }
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  header .menu_wrap .topmenu > li:last-child:after{
    background: none;
    box-shadow: none;
  }
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  header .menu_wrap .topmenu li a:hover{
    color: #2DB1E4;
  }
  header .menu_wrap .topmenu li:nth-child(5){
    display: none;
  }
  .hamburger-menu{
    display: none;
  }
  footer .footer_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  footer .footer_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  footer .footer_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  footer .footer_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }  
  footer .footer_wrap .topmenu .submenu{
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  footer .footer_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
}

@media(min-width: 960px) and (max-width: 1439px){
  h3{
    font-size: 32px;
    line-height: 35px; 
  }
  a, p, ul, h4, label, li, span, time{
    font-size: 18px;
    line-height: 25px;
  }
  .wrap{
    padding: 0 80px;
  }
  header .menu_wrap{
    grid-template-columns: 108px 1fr;
    padding: 30px;
  }  
  header .menu_wrap nav{
    padding: 50px 0 0 0;
  }  
  header .menu_wrap .topmenu{
    width: 100%;
    display: flex;
    justify-content: right;
  }  
  header .menu_wrap .topmenu>li{
    position: relative;
    list-style: none;
  }  
  header .menu_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  header .menu_wrap .topmenu>li:last-child:after{
    background: none;
    box-shadow: none;
  }  
  header .menu_wrap .topmenu>li>a{
    padding: 0 15px 0 15px;
    font-size: 16px;
    line-height: 19px;
  }  
  header .menu_wrap .topmenu .submenu{
    position: absolute;
    left: 75%;
    top: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }  
  header .menu_wrap .topmenu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  header .menu_wrap .topmenu .submenu li a{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  header .menu_wrap .topmenu li a:hover{
    border: 2px solid #FFFFFF;
    transform: scale(1);
  }  
  header .menu_wrap .topmenu li:last-child{
    display: block;
  }

  .hamburger-menu{
    display: none;
  }

  .about_wrap{
    padding: 0;
  }
  .about_wrap h3{
    font-size: 27px;
    padding: 375px 0 40px 80px;
  }
  .about_wrap div:nth-child(1){
    display: block;
    background: url(img/DSC03087.png) no-repeat  center center;
    background-size: cover;
  }
  .about_wrap div:nth-child(1) p{
    font-size: 16px;
    padding: 16px 25px;
    margin: 357px 0 0 0;
  }
  .about_wrap div:nth-child(1) p a{
    font-size: 16px;
  }
  .about_wrap div:nth-child(2){
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 80px;
  }
  .about_wrap div:nth-child(2) p{
    font-size: 25px;
    line-height: 35px;
    padding: 80px 0;
  }

  .slider {
    height: 410px;
    padding: 0 80px;
    margin-bottom: 80px;
  }
  .slider .btn.next {
    right: 80px;
  }
  .slider .btn.prev {
    left: 80px;
  }
  .scroller {
    height: 410px;
  }

  .location .wrap{
    padding: 80px;
  }

  .inside .wrap div h4,
  .inside .wrap div ul{
    padding: 17.5px 0;
  }

  .view .wrap{
    padding: 80px;
  }

  .link .wrap div{
    padding: 17.5px 0;
  }

  .news .wrap{
    grid-column-gap: 24px;
    padding: 0 80px 60px 80px;
  }
  .news .wrap h3{
    padding: 80px 0 40px 0;
  }
  .news_art_01 .text,
  .news_art_02 .text,
  .news_art_03 .text{
    padding: 0 80px;
  }

  .map{
    height: 420px;
  }

  .connection .wrap{
    padding: 80px;
  }
  .connection .wrap .connection_text div{
    padding: 17.5px 0;
  }

  footer .footer_wrap{
    padding: 0 80px;
  }
  footer .footer_wrap nav ul{
    padding: 22px 0;
  }  
  footer .footer_wrap .topmenu>li:after{
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }  
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }  
  footer .footer_wrap .topmenu>li>a{
    padding: 0 40px 0 0;
    font-size: 16px;
    line-height: 19px;
  }  
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }  
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }  
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }  
  footer .footer_wrap .media div{
    padding: 22px 0;
  }
  footer .footer_wrap .media a{
    padding-left: 20px;
  }
  footer .footer_wrap div p{
    padding: 22px 0;
  }
}

@media(min-width: 760px) and (max-width: 959px){
  h1{
    font-size: 60px;
    line-height: 60px;
  }
  h3{
    font-size: 25px;
    line-height: 35px; 
  }
  h4{
    font-size: 25px;
    line-height: 25px;
  }
  a, p, ul, h4, label, li, span, time{
    font-size: 16px;
    line-height: 25px;
  }
  .wrap{
    padding: 0 30px;
  }
  .hamburger-menu{
    display: block;
  }
  header .menu_wrap{
    grid-template-columns: 1fr 94px;
    padding: 10px;
  }
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }
  header .menu_wrap nav{
    display: none;
  }
  
  .about_wrap{
    padding: 0;
  }
  .about_wrap h3{
    font-size: 27px;
    padding: 290px 0 40px 30px;
  }
  .about_wrap div:nth-child(1){
    display: block;
    background: url(img/DSC03087.png) no-repeat  center center;
    background-size: cover;
  }
  .about_wrap div:nth-child(1) p{
    font-size: 16px;
    padding: 16px 25px;
    margin: 272px 0 0 0;
  }
  .about_wrap div:nth-child(1) p a{
    font-size: 16px;
  }
  
  .about_wrap div:nth-child(2){
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
  }
  .about_wrap div:nth-child(2) p{
    font-size: 25px;
    line-height: 35px;
    padding: 60px 0;
  }

  .slider {
    height: 410px;
    padding: 0 40px;
    margin-bottom: 40px;
  }
  .slider .btn.next {
    right: 40px;
  }
  .slider .btn.prev {
    left: 40px;
  }
  .scroller {
    height: 410px;
  }

  .location .wrap{
    padding: 60px;
  }

  .inside .wrap div h4,
  .inside .wrap div ul{
    padding: 15px 0;
  }

  .view .wrap{
    padding: 50px 30px;
  }

  .link .wrap div{
    padding: 15px 0;
  }

  .news .wrap{
    grid-column-gap: 20px;
    padding: 0 30px 60px 30px;
  }
  .news .wrap h3{
    padding: 80px 0 40px 0;
  }
  .news_art_01 .text,
  .news_art_02 .text,
  .news_art_03 .text{
    padding: 0 60px;
  }

  .map{
    height: 420px;
  }

  .connection .wrap{
    padding: 60px 30px;
  }
  .connection .wrap .connection_text div{
    padding: 15px 0;
  }
  
  footer .footer_wrap{
    padding: 0 30px;
  }
  footer .footer_wrap nav ul{
    padding: 22px 0;
  }
  footer .footer_wrap .topmenu>li:after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    top: 20px;
    box-shadow: 4px -2px 0 red;
    transform: rotate(30deg);
  }
  footer .footer_wrap .topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  footer .footer_wrap .topmenu>li>a{
    padding: 0 20px 0 0;
  }
  footer .footer_wrap .topmenu .submenu {
    position: absolute;
    left: 60%;
    bottom: 100%;
    width: 150px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  footer .footer_wrap .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  footer .footer_wrap .topmenu .submenu li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
  footer .footer_wrap .topmenu li a:hover {
    color: #2DB1E4;
  }
  footer .footer_wrap .media div{
    padding: 22px 0;
  }
  footer .footer_wrap .media a{
    padding-left: 20px;
  }
  footer .footer_wrap div p{
    padding: 22px 0;
  }
}
  
@media(min-width: 375px) and (max-width: 759px){
  h1{
    font-size: 66px;
    line-height: 60px;
  }
  h3{
    font-size: 21px;
    line-height: 35px; 
  }
  h4{
    font-size: 16px;
    line-height: 25px; 
  }
  a, p, ul, h4, label, li, span, time{
    font-size: 14px;
    line-height: 20px;
  }
  .wrap{
    padding: 30px;
  }
  .hamburger-menu{display: block;}
  header .menu_wrap{
    display: grid;
    grid-template-columns: 1fr 94px;
    grid-template-rows: auto;
    padding: 10px;
  }  
  header .menu_wrap div:first-child{
    grid-column: 2;
    grid-row: 1;
  }  
  header .menu_wrap nav{
    display: none;
  }  
  .about_wrap{
    padding: 0;
    background: #FFFFFF;
    border-bottom: none;
  }
  .about_wrap div:nth-child(1){
    display: block;
    grid-row: 2;
    padding: 0 30px;
    text-align: center;
    justify-self: center;
  }
  .about_wrap div:nth-child(1) h3{
    font-size: 21px;
    line-height: 35px;
    color: #2F323B;
    padding: 30px 0;
  }
  .about_wrap div:nth-child(1) p{
    display: none;
  }
  .about_wrap div:nth-child(2){
    grid-row: 3;
    padding: 0 30px;
  }
  .about_wrap div:nth-child(2) p{
    font-size: 16px;
    line-height: 25px;
    padding: 0;
  }
  .about_wrap div:nth-child(3){
    display: block;
    grid-row: 1;
  }
  .about_wrap div:nth-child(4){
    display: block;
    grid-row: 4;
    text-align: center;
    background-color: rgba(188, 0, 0, 1);
    padding: 17.5px 0;
  }
  .about_wrap div:nth-child(4) ul a{
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .about_wrap div:nth-child(4) ul a:hover{
    color: #2DB1E4;
  }

  .slider {
    height: 375px;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .slider .btn.next {
    right: 30px;
  }
  .slider .btn.prev {
    left: 30px;
  }
  .scroller {
    height: 375px;
  }

  .location .wrap{
    display: grid;
    grid-template-columns:  repeat(2, 1fr); 
    grid-template-rows: auto;
    padding: 30px 30px 0 30px;
  }
  .location .wrap div{
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .location .wrap div:nth-child(2){
    border-right: none;
  }
  .location .wrap div:nth-child(3){
    border-bottom: none;
  }
  
  .inside .wrap{
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .inside .wrap div h4,
  .inside .wrap div ul{
    padding: 15px 0;
  }
  .inside .wrap div:nth-child(2){
    border-top: none;
  }
  .inside .wrap div:nth-child(8){
    border-bottom: none;
  }
  .inside .wrap div li{
    list-style-type: square;
    list-style-position: inside;
  }
  .inside .wrap div:nth-child(odd){
    border-bottom: none;
  }

  .view {
    display: none;
  }

  .link .wrap{
    padding-top: 15px;
  }
  .link .wrap div{
    padding: 15px 0;
  }
  .link .wrap div:nth-child(1),
  .link .wrap div:nth-child(2){
    border-top: none;
  }
  
  .news .wrap{
    grid-column-gap: 0;
    grid-row-gap: 30px;
    padding: 0 30px 30px 30px;
  }
  .news .wrap h3{
    padding: 30px 0 0 0;
  }
  .news .wrap div:nth-child(2),
  .news .wrap div:nth-child(3),
  .news .wrap div:nth-child(4){
    grid-column: 1 / span3;
  }
  .news_art_01 .text,
  .news_art_02 .text,
  .news_art_03 .text{
    padding: 0;
  }

  .map{
    height: 420px;
  }
  
  .connection .wrap{
    padding: 30px;
  }
  .connection .wrap .connection_text div{
    padding: 23px 0;
    border-bottom: 1px solid rgba(247, 245, 243, 0.2);
  }  
  .connection .wrap div:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
  }  
  .connection .wrap div:nth-child(2){
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  footer .footer_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    padding: 0 20px;
  }  
  footer .footer_wrap div > nav{
    display: none;
  }
  footer .footer_wrap .media{
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
  }  
  footer .footer_wrap .media div{
    padding: 18px 0;
  }
  footer .footer_wrap .media div a{
    padding: 0 20px;
  }
  footer .footer_wrap div p{
    padding: 18px 0;
  }
  footer .footer_wrap div:nth-child(3){
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    border-bottom: none;
  }  
  footer .footer_wrap div:nth-child(4){
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    border-bottom: none;
  }  
}